- content_for :title, t("icu.index")

%h1.text-center= t("icu.index")

.row
  .col-md-6.col-md-offset-3
    %hr
    %ul
      %li= link_to t("icu.documents"), icu_documents_path
      %li= link_to t("icu.officers"), icu_officers_path
      %li= link_to t("icu.subscribers"), icu_subscribers_path
      %li= link_to t("icu.life_members"), icu_life_members_path
      %li
        - if can?(:sales_ledger, Item)
          = link_to t("item.sales_ledger"), sales_ledger_admin_items_path
        - else
          %strong= t("item.sales_ledger")
          %span.small= t("unauthorized.sign_in")
    %hr
