- content_for :title, t("icu.index")

%h1.text-center= t("icu.index")

.row
  .col-sm-8.col-sm-offset-2
    %table.voffset3{class: "table table-bordered"}
      %tbody
        %tr
          %td.text-center{colspan: 2}= link_to t("icu.documents"), icu_documents_path
        %tr
          %td.text-center{width: "50%"}= link_to t("icu.officers"), icu_officers_path
          %td.text-center{width: "50%"}= link_to t("icu.subscribers"), icu_subscribers_path
        %tr
          %td.text-center
            - if can?(:sales_ledger, Item)
              = link_to t("item.sales_ledger"), sales_ledger_admin_items_path
            - else
              %strong= t("item.sales_ledger")
              %span.small= t("unauthorized.sign_in")
          %td.text-center= link_to t("icu.life_members"), icu_life_members_path
