- content_for :title, t("icu.life_members")

%h1.text-center= t("icu.life_members")

.row
  .col-sm-8.col-sm-offset-2
    %table{class: "table table-striped"}
      %thead
        %tr
          %th= t("player.abbrev.id")
          %th= t("player.name")
          %th= t("player.abbrev.title")
          %th= t("club.club")
      %tbody
        - @members.each do |player|
          %tr
            %td= player.id
            %td= link_to_if can?(:show, player), player.name(reversed: true), [:admin, player]
            %td= player.titles
            %td= link_to player.club.name, player.club if player.club
