- content_for :title, t("help.accounts")

%h2.text-center= t("help.accounts")
%hr

%a{name: "create_account"}
%h3 Creating a Login Account

%p For this you need the following:
%ul
  %li
    an ICU ID (from a
    = link_to "subscription", help_membership_path
    confirmation email),
  %li
    a season ticket (from a
    = link_to "subscription", help_membership_path
    confirmation email),
  %li a working email address that you have access to (you choose),
  %li a password (you choose, but it must be no less than 6 characters long and include at least one digit).
%p Then:
%ul
  %li
    click the
    = link_to t("user.sign_up"), switch_to_tls(:sign_up)
    button in the top right,
  %li enter the above information,
  %li wait for the verification email,
  %li click the link in the message to complete the process.

%a{name: "signin_www"}
%h3 Signing into this Website

%p Follow these steps:
%ul
  %li
    click the
    = link_to t("session.sign_in"), switch_to_tls(:sign_in)
    button in the top right,
  %li enter your email and password,
  %li
    click the
    %em= t("session.sign_in")
    button under the form.

%a{name: "signin_ratings"}
%h3 Signing into the Ratings Website

%p Follow these steps:
%ul
  %li
    click the
    = link_to "Log in", "http://ratings.icu.ie/log_in", target: "ratings"
    button in the top middle,
  %li enter your email and password,
  %li
    click the
    %em Log in
    button under the form.
%p
  Note that login accounts are created and updated on this site, not the ratings site,
  and the database for the ratings site is synced with the main database only once per day.
  Therefore, you may have to wait up to
  %strong 24 hours
  before changes on this site are reflected on the other site.

%a{name: "change_email"}
%h3 Changing your Account Email

%p
  If you already have a login account but have stopped using the address for sending and receiving emails
  (for example, if it belongs to a company you no longer work for), you don't necessarily need to create a
  new account but can continue to use the old email address just for signing into the ICU websites.
%p
  However, if you would prefer not to have to sign in with your old address then simply create a new login
  account (as described above) and use that instead. The new email address must be a working one as otherwise
  you won't be able to answer the verification message to complete the signup procedure.

%a{name: "change_password"}
%h3 Changing your Account Password

%p Follow this procedure:
%ul
  %li sign in,
  %li click your name on the right of the top navigation bar,
  %li
    click
    = succeed(",") do
      %em= t("user.change_password")
  %li enter your old password and your new password (twice),
  %li
    click
    = succeed(".") do
      %em= t("save")
%p Your new password must be no less than 6 characters long and include at least one digit.

%a{name: "forgot"}
%h3 Forgotten Passwords

%p
  Passwords are stored in encrypted form so there is no password reminder service.
  If you forget your password, please email the webmaster and request a reset.
  Send the message from your login email or supply your ICU number and latest season ticket.
