- content_for :title, t("help.data_protection")

%h2.text-center= t("help.data_protection")

%p.small
  Below, the term
  %strong "users with enhanced access"
  when used in the context of this website means selected ICU officers
  (typically the chairman, secretary, treasurer, rating officer and webmaster).
  When used in the context of the ICU ratings website it means the rating officer, webmaster and all
  = succeed(".") do
    = link_to "tournament reporters", "http://ratings.icu.ie/contacts", target: "ratings"

%a{name: "data"}
%h3 Viewing Data about You

%p
  A small amount of data (ID, name, gender, YOB, federation, chess title and club) is made
  publicly available for all player records in the main ICU database in the
  = succeed(".") do
    = link_to "player list", players_path
%p
  To see the full data stored about you, login to this website, find yourself in the player list
  and click your name. Unless you are a user with enhanced access, you can only view full
  data about yourself and not other players.
%p
  In the case of the ratings website, summary data on your tournaments and results is publicly
  available. Detailed calculations relating to your ICU rating are available to any ICU member who
  logs in. Information that can help identify you, such as your DOB (copied to the ratings database
  from the main ICU database) is available to users with enhanced access.

%a{name: "dob"}
%h3 Date of Birth

%p
  Players must supply their full date of birth (DOB) when they become an ICU member. It will be used
  for identification (when players have similar names), rating K-factors, junior and veteran
  eligibility and passed on to FIDE (and stored in their database) when the rating officer registers
  players with them.
%p
  Only year of births (YOBs) are displayed publicly on the ICU websites but DOBs are available to
  users with enhanced access. This is a similar policy to the one FIDE operate for their website.
%p
  You can, if you insist, ask us to remove your DOB from the database after you join but we advise against
  this, especially if you're a junior as it may prevent your selection for international competitions.
  In the current webmaster's experience, only 2 people in the last 10 years have requested this.

%a{name: "phone_numbers"}
%h3 Phone Numbers

%p
  If you supply any of your phone numbers (home, mobile or work) we will store them in the ICU database
  and may use them to contact you. They will not be published publicly on the web site but will be made
  available to users with enhanced access. Those users may pass on your phone number(s) to other people
  involved in chess organisation (for example, tournament controllers) if they need to contact you urgently.
  If you never want to be contacted by phone then don't supply any numbers or delete the numbers that are
  already stored for you.
%p
  There is one exception to the rule that telephone numbers are never displayed publicly on the website and
  that is if you become an ICU officer. By default, in that case, all your numbers are displayed in the
  = link_to t("officer.officer_contacts"), icu_index_path(anchor: "contact")
  section of the
  = link_to t("icu.index"), icu_index_path
  page. Most officers allow that but if you don't want to then there are two methods to prevent some or all of
  your phone numbers appearing on that page:
%ol
  %li
    Completely remove from the database any phone numbers you don't want displayed. The drawback of this option
    is that it prevents everyone, including ICU officers, from looking up those numbers.
  %li
    The other, preferred option is to ask the webmaster to mark some or all of your phone numbers as private.
    In that case, only the remaining (if any), non-private numbers will be displayed on the contacts page
    while all your numbers will still be available to ICU officers.
%p As an ICU officer, it's preferable that you make at least one phone number available for ICU members to call you.
