- content_for :title, t("help.header")

%h2.text-center= t("help.header")
%hr

%p
  The banner header at the top of the ICU's web pages uses up a portion
  of the space available for other content, more so on small devices.
  If you're working on the website, for example paying for some subscriptions
  or editing an article, you may find it convenient to temporarily
  hide the header to be able to see more of the content below.

%a{name: "hide"}
%h3 Hide the Header

%p
  Click the small upwards pointing arrow
  = precede("(") do
    = succeed(")") do
      %strong= t("symbol.hide")
  near the top right corner of the page.
  This will hide the header and keep it hidden as you navigate
  round the site until you decide to show it again (see below).

%a{name: "show"}
%h3 Show the Header

%p
  If you've previously hidden the header and want to redisplay it,
  click the small downwards pointing arrow
  = precede("(") do
    = succeed(")") do
      %strong= t("symbol.show")
  near the top right corner of the page.
  This will show the header and keep it visible as you navigate
  round the site until you decide to hide it again (see above).
