- content_for :title, t("help.help")

%h1.text-center= t("help.index")
%hr
.row
  .col-md-offset-1.col-md-5
    %h2= t("member")
    %ul
      %li= link_to t("help.membership"), help_membership_path
      %li= link_to t("help.profile"), help_profile_path
      %li= link_to t("help.pgn"), help_pgn_path
      %li= link_to t("help.accounts"), help_accounts_path
      %li= link_to t("help.header"), help_header_path
      %li= link_to t("help.privacy"), help_privacy_path
  .col-md-offset-1.col-md-5
    %h2= t("user.role.editor")
    %ul
      %li= link_to t("help.articles"), help_articles_path
      %li= link_to t("help.shortcuts"), help_shortcuts_path
      %li= link_to t("help.markdown"), help_markdown_path
      %li= link_to t("help.downloads"), help_downloads_path
      %li= link_to t("help.images"), help_images_path
      %li= link_to t("help.pgn_upload"), help_pgn_upload_path
.row
  .col-md-offset-1.col-md-5
    %h2= t("user.role.admin")
    %ul
      %li= link_to t("help.overview"), help_overview_path
      %li= link_to t("help.officers"), help_officers_path
      %li= link_to t("help.exceptions"), help_exceptions_path
      %li= link_to t("help.players"), help_players_path
      %li= link_to t("help.password_reset"), help_password_reset_path
      %li= link_to t("help.suspend_account"), help_suspend_account_path
  .col-md-offset-1.col-md-5
    %h2= t("user.role.treasurer")
    %ul
      %li= link_to t("help.treasurer"), help_treasurer_path
      %li= link_to t("help.fees"), help_fees_path
      %li= link_to t("help.offline_payments"), help_offline_payments_path
      %li= link_to t("help.rollover_subs"), help_rollover_subs_path
