- content_for :title, t("help.help")

.row
  .col-md-10.col-md-offset-1
    %h1.text-center= t("help.index")
    %hr
    %h2= t("help.members")
    %ul
      %li= link_to t("help.membership"), help_membership_path
      %li= link_to t("help.accounts"), help_accounts_path
      %li= link_to t("help.header"), help_header_path
      %li= link_to t("help.privacy"), help_privacy_path
    %hr
    %h2= t("help.admins")
    %ul
      %li= link_to t("help.treasurer"), help_treasurer_path
      %li= link_to t("help.shortcuts"), help_shortcuts_path
      %li= link_to t("help.officers"), help_officers_path
      %li= link_to t("help.markdown"), help_markdown_path
      %li= link_to t("help.offline_payments"), help_offline_payments_path
      %li= link_to t("help.downloads"), help_downloads_path
    %hr
