- content_for :title, t("help.officers")

%h2.text-center= t("help.officers")
%hr

%a{name: "what"}
%h3 What does this Involve?

%p There are two main tasks:
%ol
  %li
    linking each officer to the member who currently holds that position
    so that the correct name and phone numbers are displayed on the
    = succeed(",") do
      = link_to "contacts page", icu_officers_path
  %li
    keeping the forwarding addresses of the ICU's mail relays
    in sync with the personal emails of the current office holders.
%p
  The former is managed on this website while relays are managed partly
  on this website and partly on that of our email provider (Mailgun).
%p
  Each relay has a
  %strong ICU
  address (ending in
  = succeed(")") do
    %em @icu.ie
  and one or more
  %strong forwarding
  addresses (personal emails).
%p
  There are 3 relevant database tables:
  = succeed(",") do
    %strong officers
  = succeed(",") do
    %strong players
  and
  = succeed(".") do
    %strong relays
%p If an officer is linked to:
%ul
  %li no player — then no name or phone numbers are listed for that position (it's unfilled),
  %li a player — then that player's name and phone numbers will be listed for that officer on the contacts page.
%p
  If an officer is linked to:
%ul
  %li no relays (rare, if ever) — then no email address will appear on the contacts page for that officer,
  %li one relay (the usual case) — then the ICU address of the relay will be listed for that officer,
  %li
    more than one relay (rare, but see the
    %em= t("officer.role.fide_ecu")
    example below) — then the ICU addresses of the relays will all be listed for that officer.

%a{name: "who"}
%h3 Who can Manage Officers and Relays?

At the moment only the webmaster can do this, so to complete
any of the tasks below the webmaster must first login to this website or,
if appropriate, Mailgun's website.

%a{name: "relink"}
%h3 How to Change an Incumbent Officer

%p
  This is a type of task which will often need to be done when a new executive is voted in.
  To link an officer with a new member:
%ul
  %li
    click
    %em= t("officer.officers")
    from the top navigation bar
  %li find and click the officer you want to change,
  %li
    do one of two things:
    %ul
      %li if you know the new incumbent's ICU ID, enter it in the box provided, or
      %li
        if you don't know their ID, search for it using
        %em= t("officer.select_incumbent")
        and click their ID when you've found it,
  %li
    click
    = succeed(".") do
      %em= t("save")
%p To update the email relay:
%ul
  %li
    click
    %em= t("relay.relays")
    from the top navigation bar
  %li
    find the relay corresponding to the officer and click the ICU email (the
    %em= t("relay.from")
    address),
  %li
    click
    = succeed(",") do
      %em= t("edit")
  %li
    enter the new incumbent's personal email address in the
    %em= t("relay.to")
    box,
  %li
    click
    = succeed(".") do
      %em= t("save")
%p Alternatively, the changes can be made via Mailgun and synced back to the ICU database:
%ul
  %li login to the ICU's Mailgun control panel,
  %li
    click
    = succeed(",") do
      %em Routes
  %li
    find and click the
    %em filter expression
    corresponding to the officer's ICU email address,
  %li
    update the
    %em forwarding address
    for the new incumbent's personal email address,
  %li
    click
    = succeed(",") do
      Save
  %li
    click
    %em= t("relay.relays")
    from the top navigation bar, scroll to the bottom and click
    %em= t("relay.refresh")
    which ensures all ICU relays are up-to-date with any changes made on Mailgun.

%a{name: "blank"}
%h3 When an Role is Unfilled

%p It sometimes happens that a position is unfilled. In this case we want:
%ul
  %li
    the officer still to be displayed on the
    = link_to "contacts page", icu_officers_path
    but with blanks where the incumbents's name and telephone numbers would normally go,
  %li
    emails sent to the officer's standard ICU email address to
    be relayed to someone else (usually the secretary).
%p
  To achieve this, follow the instructions above for changing an incumbent
  but with the following modifications:
%ul
  %li enter a blank ICU ID when editing the officer,
  %li use the secretary's personal email for the forwarding address when editing the relay.

%a{name: "relays"}
%h3 Creating, Deleting and Updating Officers

%p
  Officers change so rarely that there is no website function to create new positions or delete positions no longer required
  (a small amount of programming effort would be required to achieve either of these).
  However, officers can be edited in the following ways:
%ul
  %li as already discussed, they can be linked to different players,
  %li
    their
    %em rank
    can be altered to change the order in which they are listed (the lower the rank the higher up they appear),
  %li their status can be set to inactive, in which case they won't be listed at all (soft delete).

%a{name: "relays"}
%h3 Creating, Deleting and Updating Relays

%p
  Relays can only be created or destroyed on Mailgun. Their forwarding addresses can be
  changed on Mailgun or, for convenience and because it's a common operation, from
  this website as well (see above).
%p
  One aspect of relays which is managed exclusively on this website is which officer (if any) each links to.
  It's fairly rare that one would need to change the links between officers and relays because, for the
  most part, one relay has been created for each officer and the links will already have been established.
  The
  %em= t("officer.role.fide_ecu")
  example below describes a scenario where some relinking of officers and relays would be required.

%a{name: "relay_officer"}
%h3 Not all Relays will be Linked to an Officer

%p
  There are more relays than officers and in most cases each officer has only one relay
  which means there must be some relays not linked to any officer. This is normal and
  there are good reasons why some ICU addresses should not appear on the contacts page.
  For example, some, which forward to the webmaster's personal address, are for emails
  registered with our internet providers (for hosting, domains or payment services) and
  which members don't need to be informed of. Others, forwarding to the secretary, are
  for officers that no longer exist (e.g. ICJ editor, IUCA delegate).

%a{name: "phones"}
%h3 Adjusting the Phone Numbers Displayed for an Officer

%p
  By default, the
  = link_to "contacts page", icu_officers_path
  lists all the telephone numbers of each officer,
  but some officers may not want this.
%p
  Configuring which numbers are displayed and which remain hidden is something each
  officer can manage for themselves, it doesn't require the webmaster. See
  = succeed(".") do
    = link_to t("help.privacy"), help_privacy_path(anchor: "phone_numbers")

%a{name: "fide_ecu"}
%h3
  Extended Example:
  %em= t("officer.role.fide_ecu")

%p This officer is a special case for two reasons:
%ol
  %li
    there are two corresponding relays
    = precede("(") do
      %em fide@icu.ie
    and
    = succeed(")") do
      %em ecu@icu.ie
    instead of the usual one,
  %li
    it's theoretically possible that the position could be split in two
    = precede("(") do
      %em= t("officer.role.fide")
    and
    = succeed(")") do
      %em= t("officer.role.ecu")
    sometime in the future.
%p At the time this documentation was written:
%ul
  %li
    the
    %em= t("officer.role.fide_ecu")
    officer was active, linked to a player and linked to both relays (which forwarded to personal emails of that player),
  %li
    the
    %em= t("officer.role.fide")
    and
    %em= t("officer.role.ecu")
    officers were both inactive (so not listed) and not linked to any players or relays.
%p If the position were to be split between two different players (A and B) here is how to managed that:
%ol
  %li
    make the
    %em= t("officer.role.fide")
    and
    %em= t("officer.role.ecu")
    roles active and link them to players A and B respectively,
  %li
    edit the
    %em fide@icu.ie
    relay, link it to the
    %em= t("officer.role.fide")
    officer (instead of
    = succeed(")") do
      %em= t("officer.role.fide_ecu")
    and forward it to A's personal address,
  %li
    edit the
    %em ecu@icu.ie
    relay and link it to the
    %em= t("officer.role.ecu")
    officer (instead of
    = succeed(")") do
      %em= t("officer.role.fide_ecu")
    and forward it to B's personal address,
  %li
    make the
    %em= t("officer.role.fide_ecu")
    officer inactive and unlink it from the former incumbent.
