= render "titles", text: "help.pgn"

%p
  There are some PGN files amongst the
  = link_to t("download.downloads"), downloads_path
  but the main way of searching for and playing over the games of (mostly) Irish players is via the
  = link_to t("game.games"), games_path
  page.
  %em
    (Apologies for the delay, a game viewer is not available
    yet but one should be in place before the end of 2014.)
%p
  Like the previous version of this website, a ZIP-compressed PGN file of
  all games in the collection is available for anyone to download,
  but unlike the old site, there are a couple of new ways to
  download PGN data for members who are signed in (see
  = link_to t("help.membership"), help_membership_path
  and
  = succeed(").") do
    = link_to t("help.accounts"), help_accounts_path
%p
  See also
  = link_to t("help.pgn_upload"), help_pgn_upload_path
  = succeed(".") do
    for administrators

%a{name: "db"}
%h3 Download All Games in the ICU Database

%p
  Click the
  %em= t("game.pgn.download.db")
  link on the
  = link_to t("game.games"), games_path
  page.
%p
  This file is regenerated once per day early in the morning if there have been any updates to
  the games collection during the previous day.
  There will normally be some information next to the link about how many games the file
  contains and when the last update to the collection was at the time the file was generated.

%a{name: "game"}
%h3 Download a Single Game

%ul
  %li Sign in,
  %li
    go to the
    = link_to t("game.games"), games_path
    page,
  %li search for the game you're interested in,
  %li click on it's link (the result) to display it,
  %li
    click the
    %em= t("game.pgn.download.game")
    button.
%p This will download an uncompressed PGN file containing that one game to your computer.

%a{name: "game"}
%h3 Download Multiple Game

%ul
  %li Sign in,
  %li
    go to the
    = link_to t("game.games"), games_path
    page,
  %li search for the games you're interested in,
  %li
    make sure the number of results is
    = Game::MAX_DOWNLOAD_SIZE
    or less,
  %li
    click on the
    %em= t("game.pgn.download.games")
    button.
%p This will download an uncompressed PGN file containing all the games in the result set to your computer.
%p
  If you need more than
  = Game::MAX_DOWNLOAD_SIZE
  games, download the entire collection (see above) and use your favourite database program for searching.
