- content_for :title, t("help.privacy")

%h2.text-center= t("help.privacy")
%hr

%ul
  %li= link_to "Data about You", "#data"
  %li= link_to "Date of Birth", "#dob"
  %li= link_to "Phone Numbers", "#phone_numbers"
  %li= link_to "Email Address", "#emails"
  %li= link_to "Login Accounts", "#account"
  %li= link_to "Online Payments", "#payments"

%p.small
  Below, the terms
  %em "privileged user"
  or
  %em "privileged access"
  in the context of this website means certain ICU officers
  (usually the chairman, secretary, treasurer, rating officer and webmaster)
  and in the context of the ICU ratings website it means the rating officer, webmaster and all
  = succeed(".") do
    = link_to "tournament reporters", "http://ratings.icu.ie/contacts", target: "ratings"
%hr

%a{name: "data"}
%h3 Data about You

%p
  A small amount of data (ID, name, gender, YOB, federation, chess title and club) is made
  publicly available for all records in the main ICU database in the
  = succeed(".") do
    = link_to "player list", players_path
%p To see the your full profile, login to this website and then either
%ul
  %li
    click your name on the right of the top navigation bar and then click
    = succeed(", or") do
      %em= t("player.profile")
  %li find yourself in the player list and then click your name.
%p Unless you have privileged access, you can only view your own full profile and not those of other players.
%p
  In the case of the ratings website, summary data on your tournaments and results is publicly
  available. Detailed calculations relating to your ICU rating are available to any ICU member who
  logs in. Information that can help identify you, such as your DOB (copied to the ratings database
  from the main ICU database) is available to privileged users.
%p
  The names and clubs of members who have paid a subscription for the current and previous
  few seasons are listed publicly in
  = succeed(",") do
    = link_to t("icu.subscribers"), icu_subscribers_path
  and there's also a public list of
  = succeed(",") do
    = link_to t("icu.life_members"), icu_life_members_path
  containing names, titles and clubs.
%p
  You can update some of the data we store about if you have a login account. See
  = link_to t("help.profile"), help_profile_path
  for further information.

%a{name: "dob"}
%h3 Date of Birth

%p
  Players must supply their full date of birth (DOB) when they become an ICU member. It will be used
  for identification (when players have similar names), rating K-factors, junior and veteran
  eligibility and passed on to FIDE (and stored in their database) when the rating officer registers
  players with them.
%p
  Only year of births (YOBs) are displayed publicly on the ICU websites but DOBs are available to
  users with privileged access. This is a similar policy to the one FIDE operate for their website.
%p
  You may, if you insist, ask us to remove your DOB from the ICU and FIDE databases.
  Between 2004 and 2014, two people made such a request.

%a{name: "phone_numbers"}
%h3 Phone Numbers

%p
  If you supply any of your phone numbers (home, mobile or work) we will store them in the ICU database
  and may use them to contact you. They will not be published publicly on the web site but will be made
  available to privileged users. Those users may pass on your phone number(s) to other people
  involved in chess organisation (for example, tournament controllers) if they need to contact you urgently.
  If you never want the ICU to contact you by phone then don't supply any numbers or delete the numbers
  that are already stored for you.
%p
  There is one exception to the rule that telephone numbers are never displayed publicly on the website and
  that is if you become an ICU officer. By default, in that case, all your numbers are displayed on the
  = link_to t("icu.officers"), icu_officers_path
  page. If you don't want all (or even any of) your numbers to be displayed there, then there are two solutions.
%ol
  %li
    On your profile page click
    = succeed(",") do
      %em= t("player.edit_profile")
    delete any phone numbers you don't want displayed, and then click
    = succeed(".") do
      %em= t("save")
    The drawback of this option is that it hides your numbers from everyone, including ICU officers.
  %li
    The preferred option is to mark some or all of your phone numbers as private.
    After clicking
    = succeed(",") do
      %em= t("player.edit_profile")
    select the numbers you want to hide from the
    %em= t("player.privacy")
    menu and then click
    = succeed(".") do
      %em= t("save")
    In that case, only the remaining, non-private numbers (if any) will be displayed on the contacts page
    while all your numbers will still be available to ICU officers.
%p As an ICU officer, it's preferable that you make at least one phone number publicly available for ICU members to call you.

%a{name: "emails"}
%h3 Email Address

%p
  Your contact email address (the one in your profile) is only available to privileged users.
  Unlike phone numbers, your email address won't normally be published publicly if you become
  an ICU officer because personal email addresses are not used to contact officers.
  Instead the ICU uses a set of generic addresses ending in
  %em @icu.ie
  (such as
  = succeed(")") do
    %em secretary@icu.ie
  each of which relays messages to the incumbent without their personal address having to
  be listed on the website.
%p
  ICU mail relaying is provided by an external service and if that service is down or there are
  other problems with it then the personal emails of officers may appear on the contacts page.
  If this ever happens it will be in exceptional circumstances and should be temporary.
%p
  You can set, update or delete your contact email via
  = succeed(".") do
    %em= t("player.edit_profile")

%a{name: "account"}
%h3 Login Accounts

%p
  Login email addresses are not published publicly. Passwords are stored in encrypted form so
  there is no password reminder service. If you forget your password, please email the webmaster
  and request a reset. Send the message from your login email and supply your season ticket.

%a{name: "payments"}
%h3 Online Payments

%p
  Our payment processor is
  = succeed(".") do
    = link_to "Stripe", "https://stripe.com/ie", target: "stripe"
  When you enter your details and click the
  %em Pay
  button, the sensitive data (card number, expiry date and security code)
  is sent straight to Stripe. Only your name, email and the details of what
  you purchased are stored in the ICU database. More information about Stripe:
%ul
  %li
    = succeed(",") do
      = link_to "Wikipedia article", "http://en.wikipedia.org/wiki/Stripe_(company)", target: "stripe"
  %li
    = succeed(",") do
      = link_to "Stripe security", "https://stripe.com/help/security", target: "stripe"
  %li
    = succeed(".") do
      = link_to "3D Secure", "https://support.stripe.com/questions/does-stripe-support-3d-secure-verified-by-visa-mastercard-securecode", target: "stripe"
