= render "titles", text: "help.profile"

%a{name: "data"}
%h3 Profile Data

%p
  The ICU stores information about chess players. The data on each player is called a profile.
  Some profile data (such as name and club) is publicly available on our websites while other data
  (such as date of birth and contact details) is only for users with privileged access
  (see
  = link_to t("help.privacy"), help_privacy_path
  for details). Some profile data can be updated by players themselves if they have a login account.
%p
  For various reasons, we can't allow players to directly control their entire profile.
  For example, we would need to be contacted about corrections to date of birth, gender
  or federation as such changes would have to be passed on to FIDE. Another example
  would be that the temptation to award themselves the GM title might be too much for some!

%a{name: "what"}
%h3 What Parts of my Profile can I Update Myself?

%p You can update the following data yourself:
%ul
  %li
    = succeed(",") do
      %strong club
  %li
    contact
    %strong email address
    (not necessarily the same as the email you use to sign in),
  %li
    home, mobile and work
    = succeed(",") do
      %strong telephone numbers
  %li
    = succeed(".") do
      %strong postal address

%a{name: "how"}
%h3 How do I Update my Profile?

%p
  First, you need a login account (see
  = link_to t("help.accounts"), help_privacy_path
  for details). Then:
%ul
  %li sign in,
  %li click your name (on the right side of the top navigation bar),
  %li
    click
    = succeed(",") do
      %em= t("player.profile")
  %li
    click
    = succeed(".") do
      %em= t("player.edit_profile")
  %li make whatever changes you want,
  %li
    click
    = succeed(".") do
      %em= t("save")
