= render "titles", text: "help.treasurer"

%p
  This help page is for ICU officers, such as the treasurer, who deal with payments and refunds.
  It explains how to search for information on previous purchases and how to make refunds.
  Most of these website features require the user to be logged in as
  = t("user.role.treasurer")
  or
  = succeed(").") do
    = t("user.role.admin")

%a{name: "payment_status"}
%h3= t("help.payment_status")

%p
  Users make online purchases by filling a
  %strong Cart
  with one or more
  %strong Items
  before paying with their credit card.
  Offline purchases are similar except that an ICU officer fills in a cart on behalf of a user (see
  = succeed(").") do
    = link_to t("help.offline_payments"), help_offline_payments_path

  If the payment is successful, the cart and all its items change status from
  %strong= t("shop.payment.status.unpaid")
  to
  %strong= t("shop.payment.status.paid")
  and at that point all items become
  = succeed(".") do
    %strong= t("active")
  For example, if one of the items is a subscription then the person subscribed becomes a paid-up member of the ICU.
%p
  Carts and items can also have a 3rd status of
  %strong= t("shop.payment.status.refunded")
  and carts can have a 4th status of
  %strong= t("shop.payment.status.part_refunded")
  (individual items can only be wholly refunded).
%p
  %em= t("shop.payment.status.paid")
  and
  %em= t("shop.payment.status.part_refunded")
  are
  %strong= t("active")
  statuses while
  %em= t("shop.payment.status.unpaid")
  and
  %em= t("shop.payment.status.refunded")
  are
  = succeed(".") do
    %strong= t("inactive")

%a{name: "make_refund"}
%h3= t("help.make_refund")

%p
  A suitably priviledged user (typically the treasuer or webmaster) can refund one or more items in an active cart as follows:
%ul
  %li Search carts or items to locate and then view the relevant cart (see below).
  %li
    Click the
    = succeed("...") do
      %strong= t("shop.payment.refund")
    button which will bring up a list of items with checkboxes.
  %li
    Check all the items to be refunded and click
    = succeed(".") do
      %strong= t("shop.payment.refund")
%p
  If the original payment was made online then the refund to the payer's credit card
  will be initiated automatically, without any further action required. Depending on
  details of the payer's bank, the process may take some days to complete and the
  refund will not neessarily show up in the payer's statement, instead the original
  payment may simply drop off.
%p
  If the payment was made offline then the refund is also offline, in other words
  arrangements must be made to manually refund the payer.
%p
  The refunded items change status from
  %strong= t("shop.payment.status.paid")
  to
  %strong= t("shop.payment.status.refunded")
  and therefore become
  = succeed(".") do
    %strong= t("inactive")
  For example, if one of the items is a subscription then
  the person subscribed immediately ceases to be a paid-up member.
%p
  The cart to which the refunded items belong also changes status to either
  %strong= t("shop.payment.status.refunded")
  to
  %strong= t("shop.payment.status.part_refunded")
  depending on whether there are any remaining items with status
  = succeed(".") do
    %em= t("shop.payment.status.paid")
%p
  Note that refunds for online payments made prior to
  %strong= t("migration_date")
  (i.e. using PayPal and not our current payment processor, Stripe)
  should be treated the same way as offline payments.
  Contact the webmaster if in doubt.

%a{name: "transfer_payment"}
%h3= t("help.transfer_payment")

%p
  This is relevant when people pay for the right thing but for the wrong person.
  An example is when an already existing member erroneously joins as a new member thus creating a duplicate.
  It would be nice if, once such an error is discovered, the payment could be transferred from one ICU ID
  (in the example, the duplicate ID) to the correct one (in the example, the pre-existing member's ID).
  Sadly, in the current implementation, that is not possible.
%p
  The way to handle this type of scenario is to refund the relevant part of the payment
  (in the example, the subscription) and to instruct the payer to try again but this time
  make the correct payment (in the example, resubscribe the existing member).
%p
  In the example scenario, where a duplicate has been created, one more thing needs to be done and
  that is to mark the duplicate record as such. This involves setting its <em>Master ID</em>
  to the ID of the original record and has to be done by the webmaster (the treasurer isn't
  authorized to make such changes).

%a{name: "search_carts"}
%h3= t("help.search_carts")

%ol
  %li
    Login, click the
    %strong Admin
    drop-down button on the right of the top navigation bar and then click
    = succeed(".") do
      %strong Carts
    If you don't see either of these options, then your account is not authorized to access them.
  %li
    Enter enough information in the search boxes and menus to locate the cart:
    %ul
      %li
        = succeed(":") do
          %strong Status
        Note that
        %em= t("active")
        means
        %em= t("shop.payment.status.paid")
        or
        %em= t("shop.payment.status.part_refunded")
        while
        %em= t("inactive")
        means
        %em= t("shop.payment.status.unpaid")
        or
        = succeed(".") do
          %em= t("shop.payment.status.refunded")
      %li
        = succeed(":") do
          %strong Name
        Some part of all of the payer's name.
      %li
        = succeed(":") do
          %strong Email
        Some part of all of the payer's email address.
      %li
        = succeed(":") do
          %strong Date
        When the payment was made.
      %li
        = succeed(":") do
          %strong Cart ID
        Payer's are sent their cart ID the confirmation email.
  %li
    Click
    = succeed(".") do
      %strong Search
  %li
    For more information about any cart in the search results, click its
    %strong ID
    (in the leftmost column).
%p
  Carts records are available from
  = succeed(".") do
    %strong= t("migration_date")
  For information on subscriptions before that date search items (see below) or use
  = succeed(".") do
    = link_to t("icu.subscribers"), icu_subscribers_path

%a{name: "search_items"}
%h3= t("help.search_items")

%ol
  %li
    Login, click the
    %strong Admin
    drop-down button on the right of the top navigation bar and then click
    = succeed(".") do
      %strong Items
    If you don't see either of these options, then your account is not authorized to access them.
  %li
    Enter enough information in the search boxes and menus to locate the item:
    %ul
      %li
        = succeed(":") do
          %strong Type
        = succeed(",") do
          %em= t("item.type.subscription")
        %em= t("item.type.entry")
        or
        = succeed(".") do
          %em= t("item.type.other")
      %li
        = succeed(":") do
          %strong Status
        Note that
        %em= t("active")
        means
        %em= t("shop.payment.status.paid")
        while
        %em= t("inactive")
        means
        %em= t("shop.payment.status.unpaid")
        or
        = succeed(".") do
          %em= t("shop.payment.status.refunded")
        Individual items cannot be
        = succeed(".") do
          %em= t("shop.payment.status.part_refunded")
      %li
        = succeed(":") do
          %strong Payment Method
        How the original payment was made.
      %li
        = succeed(",") do
          %strong ICU ID
        %strong Last Name
        or
        %strong First Name
        of the member for whom the item was paid.
  %li
    Click
    = succeed(".") do
      %strong Search
  %li
    For more information about any item in the search results, click its
    %strong cart ID
    (in the rightmost column).
%p
  Additional notes:
%ul
  %li
    The only item records retained from the previous web site are subscriptions and they do not belong to carts.
  %li
    Information about subscribers can also be obtained from
    = succeed(".") do
      = link_to t("icu.subscribers"), icu_subscribers_path

%a{name: "sales_ledger"}
%h3= t("item.sales_ledger")

%p
  The
  - if can?(:sales_ledger, Item)
    = link_to t("item.sales_ledger"), sales_ledger_admin_items_path
  - else
    %strong= t("item.sales_ledger")
    = t("unauthorized.sign_in")
  is accessible by any signed-in member, not just the treasurer, and
  presents a summary of all active items, online and offline combined, broken down into
  %strong seasons
  (the last 10, but not going back further than 2006-07) and
  = succeed(":") do
    %strong types
  = succeed(",") do
    %em subscriptions
  %em entries
  (e.g. NCC) and
  %em other
  (e.g. foreign rating fees).
%p
  There is also a table showing the number of subscriptions for each
  %strong season
  and each
  = succeed(".") do
    %strong subscription type
  Figures for both
  %strong online
  (PayPal or Stripe via the website) and
  %strong offline
  (cash or cheque via the treasurer or membership officer)
  payments are given. For example "895/52" means there were 895 online subscriptions and 52 offline.
