- content_for :title, t("club.clubs")

= render "utils/list_map_buttons", resource: "clubs", map: false
= render "utils/search_panel", form: "search_form", title: t("club.clubs"), col: "md"
.row
  .col-md-10.col-md-offset-1
    - if @clubs.count > 0
      - @clubs.matches.each do |club|
        %div{class: "panel panel-default", id: "club_#{club.id}"}
          .panel-heading
            = link_to club.name, club
            = "(#{t('inactive')})" unless club.active
          %ul.list-group
            %li.list-group-item
              %em= "#{t('club.location')}:"
              = link_to_if club.geocodes?, club.location, clubs_map_path(club)
            - if club.meet
              %li.list-group-item
                %em= "#{t('club.meet')}:"
                = club.meet
            - if club.contact || club.contactable?
              %li.list-group-item
                %em= "#{t('contact')}:"
                - contact = []
                - contact << club.contact                                            if club.contact && !club.email
                - contact << mail_to(club.email, club.contact || club.email)         if club.email
                - contact << club.phone                                              if club.phone
                - contact << link_to(simple_url(club.web), club.web, target: "club") if club.web
                = contact.join(', ').html_safe
    = render "utils/pagination_links", pager: @clubs
    = render "utils/index_buttons", klass: Club
