- content_for :title, t("club.club")

= render "utils/prev_next", prev_next: @prev_next

.row
  .col-md-8.col-md-offset-2
    %h1.text-center= @club.name
    %table.table.table-bordered
      %tr
        %th= t("club.web")
        %td= link_to simple_url(@club.web), @club.web, target: "club" if @club.web.present?
      %tr
        %th= t("club.meet")
        %td= @club.meet
      %tr
        %th= t("address")
        %td= @club.address
      %tr
        %th= t("club.district")
        %td= @club.district
      %tr
        %th= t("city")
        %td= @club.city
      %tr
        %th= t("club.county")
        %td= t("ireland.co.#{@club.county}")
      %tr
        %th= t("club.province")
        %td= t("ireland.prov.#{@club.province}")
      %tr
        %th= t("club.lat")
        %td= @club.lat
      %tr
        %th= t("club.long")
        %td= @club.long
      %tr
        %th= t("club.contact")
        %td= @club.contact
      %tr
        %th= t("email")
        %td= mail_to @club.email, @club.email if @club.email.present?
      %tr
        %th= t("club.phone")
        %td= @club.phone
      %tr
        %th= t("active")
        %td= t(@club.active ? "yes" : "no")
      %tr
        %th= t("player.players")
        - clubs = @club.players.where(status: "active").count
        %td= link_to_if clubs > 0, clubs, players_path(club_id: @club.id, status: "active")
      = render "utils/timestamps", object: @club, ability: :manage
    = render "utils/show_buttons", object: @club, delete: false

= render "admin/journal_entries/changes", entries: @entries
