- content_for :title, t("club.club")

.row
  .col-md-8.col-md-offset-2
    %h1.text-center= @club.name
    %table.table.table-bordered
      %tr
        %th= t("club.web")
        %td= link_to @club.web_simple, @club.web, target: "club" if @club.web.present?
      %tr
        %th= t("club.meet")
        %td= @club.meet
      %tr
        %th= t("address")
        %td= @club.address
      %tr
        %th= t("club.district")
        %td= @club.district
      %tr
        %th= t("club.city")
        %td= @club.city
      %tr
        %th= t("club.county")
        %td= t("ireland.co.#{@club.county}")
      %tr
        %th= t("club.province")
        %td= t("ireland.prov.#{@club.province}")
      %tr
        %th= t("club.lat")
        %td= @club.lat
      %tr
        %th= t("club.long")
        %td= @club.long
      %tr
        %th= t("club.contact")
        %td= @club.contact
      %tr
        %th= t("email")
        %td= mail_to @club.email, @club.email if @club.email.present?
      %tr
        %th= t("club.phone")
        %td= @club.phone
      %tr
        %th= t("active")
        %td= t(@club.active ? "yes" : "no")
      %tr
        %th= t("player.players")
        - clubs = @club.players.where(status: "active").count
        %td= link_to_if clubs > 0, clubs, players_path(club_id: @club.id, status: "active")
      = render "utils/timestamps", object: @club, ability: :manage
    - if can? :manage, @club
      = link_to "Edit", edit_admin_club_path(@club), class: "btn btn-primary"
    - if path = last_search(:clubs)
      = link_to t("last_search"), path, class: "btn btn-default"
    - else
      = link_to "Clubs", admin_clubs_path, class: "btn btn-default"
= render "admin/journal_entries/changes", entries: @entries
