.row
  .col-sm-1
  .col-sm-10
    = form_for [:admin, @tournament], html: { class: "form-horizontal", role: "form" } do |f|
      %fieldset
        = render "utils/form_header", object: @tournament, atr: :name
        - locals = { form: f, object: @tournament, col: "sm", pad: 2, width: 4 }
        = render "utils/text_field_for", locals.merge(param: :name, text: t("name"), width: 5)
        = render "utils/text_field_for", locals.merge(param: :city, text: t("city"))
        = render "utils/text_field_for", locals.merge(param: :year, text: t("year"), width: 2)
        = render "utils/select_for", locals.merge(param: :category, text: t("tournament.category.category"), width: 3, menu: tournament_category_menu(@tournament.category, "please_select"))
        = render "utils/select_for", locals.merge(param: :format, text: t("tournament.format.format"), width: 3, menu: tournament_format_menu(@tournament.format, "please_select"))
        = render "utils/check_box_for",  locals.merge(param: :active, text: t("active"), width: 1)
        .form-group{class: @tournament.errors[:details].any? ? "has-error" : ""}
          .row
            .col-sm-12.text-center= f.label :details, t("details"), class: "control-label"
          .row
            .col-sm-12.voffset1= f.text_area :details, class: "form-control significant-space", rows: 30
      = render "utils/form_buttons", form: f, object: @tournament
