- content_for :javascript do
  = render "utils/file_field.js", param: "file"

- new_record = @pgn.new_record?

.row
  .col-sm-1
  .col-sm-10
    = form_for [:admin, @pgn], html: { class: "form-horizontal", role: "form" } do |f|
      %fieldset
        %legend= "#{new_record ? 'New' : 'Edit'} PGN"
        - locals = { form: f, object: @pgn, col: "sm", pad: 2 }
        - if new_record
          = render "utils/file_field_for", locals.merge(param: :file, text: t("file"), width: 2, mark: "required")
          = render "utils/check_box_for", locals.merge(param: :import, text: "Import?", width: 1, on: "true", off: "false")
        = render "utils/text_field_for", locals.merge(param: :comment, text: t("comment"), width: 10)
      = render "utils/form_buttons", form: f, object: @pgn, admin: "search"
