- content_for :title, t("game.pgn.upload")

= render "utils/prev_next", prev_next: @prev_next

.row
  .col-sm-12
    %table.table.table-bordered
      %tr
        %th= "File"
        %td= @pgn.file_name
        %th= "Editor"
        %td= @pgn.user.player.name
      %tr
        %th= "Content type"
        %td= @pgn.content_type
        %th= "Size"
        %td= @pgn.file_size
      %tr
        %th= "Lines in file"
        %td= @pgn.lines
        %th= "Duplicates"
        %td= @pgn.duplicates
      %tr
        %th= "Games in file"
        %td= @pgn.game_count
        %th= "Imported from file"
        %td
          - if @pgn.imports == 0
            = @pgn.imports
          - else
            - if @pgn.remaining == 0
              = @pgn.imports
              = "(none remaining)"
            - elsif @pgn.remaining == @pgn.imports
              = link_to @pgn.imports, games_path(pgn_id: @pgn.id)
            - else
              = succeed(",") do
                = @pgn.imports
              = link_to "#{@pgn.remaining} remaining", games_path(pgn_id: @pgn.id)
      = render "utils/timestamps", object: @pgn, two_col: true
      %tr
        %th= "Problem"
        %td{colspan: 3}= @pgn.problem
      %tr
        %th= "Comment"
        %td{colspan: 3}= @pgn.comment
    = render "utils/show_buttons", object: @pgn, admin: "search"

= render "admin/journal_entries/changes", entries: @entries
