- content_for :title, "User Input"

.row
  .col-sm-8.col-sm-offset-2
    %h1.text-center User Input
    %table.table.table-bordered
      %tr
        %th Fee
        %td= link_to @fee.description(:full), [:admin, @fee.becomes(Fee)]
      %tr
        %th Type
        %td= @user_input.subtype.capitalize
      %tr
        %th Label
        %td= @user_input.label
      - if @user_input.class.extras.include?(:max_length)
        %tr
          %th Maximum length
          %td= @user_input.max_length
      - if @user_input.class.extras.include?(:min_amount)
        %tr
          %th Minimim amount
          %td= @user_input.min_amount
      - if @user_input.class.extras.include?(:required)
        %tr
          %th Required
          %td= @user_input.required.to_s
    = link_to "Edit", edit_admin_user_input_path(@user_input), class: "btn btn-primary"
    = link_to "Delete", admin_user_input_path(@user_input), data: { confirm: "Sure you want to delete this user input?" }, method: :delete, class: "btn btn-danger"

= render "admin/journal_entries/changes", entries: @entries
