- content_for :title, t("session.sign_in")

.row
  .col-sm-8.col-sm-offset-2
    = form_tag sessions_path, class: "form-horizontal", role: "form" do
      %fieldset
        - locals = { col: "sm", pad: 4, width: 4 }
        = render "utils/text_field_tag", locals.merge(param: :email, text: t("email"))
        = render "utils/text_field_tag", locals.merge(param: :password, text: t("user.password"), type: "password")
        %hr
        = submit_tag t("session.sign_in"), class: "btn btn-primary"
        = link_to t("cancel"), home_path, class: "btn btn-default"
