= form_tag admin_items_path, method: :get, class: "form-inline", role: "form" do
  = render "utils/inline_text_field", param: :description, text: t("description"), size: 12
  = render "utils/inline_select", param: :type, text: t("type"), menu: item_type_menu(params[:type], "item.type.any")
  = render "utils/inline_select", param: :status, text: t("shop.payment.status.status"), menu: item_status_menu(params[:status], "shop.payment.status.any")
  = render "utils/inline_select", param: :payment_method, text: t("shop.payment.method.method"), menu: item_payment_method_menu(params[:payment_method], "shop.payment.method.any")
  .voffset2
  = render "utils/inline_text_field", param: :player_id, text: t("player.id"), size: 5
  = render "utils/inline_text_field", param: :last_name, text: t("player.last_name"), size: 8
  = render "utils/inline_text_field", param: :first_name, text: t("player.first_name"), size: 8
  = button_tag t("search"), type: "submit", class: "btn btn-default pull-right"
