.row
  .col-sm-1
  .col-sm-10
    = form_for [:admin, @player], html: { class: "form-horizontal", role: "form" } do |f|
      %fieldset
        = render "utils/form_header", object: @player, atr: [:name, { id: true }]
        - locals = { form: f, object: @player, col: "sm", pad: 2, width: 4 }
        = render "utils/text_field_for", locals.merge(param: :first_name, text: t("player.first_name"), width: 3)
        = render "utils/text_field_for", locals.merge(param: :last_name, text: t("player.last_name"), width: 3)
        = render "utils/text_field_for", locals.merge(param: :dob, text: t("player.dob"), width: 3, placeholder: t("date_format"))
        = render "utils/text_field_for", locals.merge(param: :joined, text: t("player.joined"), width: 3, placeholder: t("date_format"))
        = render "utils/text_field_for", locals.merge(param: :email, text: t("email"))
        = render "utils/text_field_for", locals.merge(param: :address, text: t("address"), width: 7)
        = render "utils/text_field_for", locals.merge(param: :home_phone, text: t("player.phone.home"), width: 3)
        = render "utils/text_field_for", locals.merge(param: :mobile_phone, text: t("player.phone.mobile"), width: 3)
        = render "utils/text_field_for", locals.merge(param: :work_phone, text: t("player.phone.work"), width: 3)
        = render "utils/select_for", locals.merge(param: :gender, text: t("player.gender.gender"), width: 2, menu: player_gender_menu(@player.gender, "please_select"))
        = render "utils/select_for", locals.merge(param: :fed, text: t("player.federation"), width: 2, menu: player_federation_menu(@player.fed, "please_select"))
        = render "utils/select_for", locals.merge(param: :player_title, text: t("player.title.player"), width: 2, menu: player_title_player_menu(@player.player_title))
        = render "utils/select_for", locals.merge(param: :arbiter_title, text: t("player.title.arbiter"), width: 2, menu: player_title_arbiter_menu(@player.arbiter_title))
        = render "utils/select_for", locals.merge(param: :trainer_title, text: t("player.title.trainer"), width: 2, menu: player_title_trainer_menu(@player.trainer_title))
        = render "utils/select_for", locals.merge(param: :club_id, text: t("club.club"), width: 2, menu: club_menu(@player.club_id, none: true))
        = render "utils/select_for", locals.merge(param: :status, text: t("player.status.status"), width: 2, menu: player_status_menu(@player.status))
        - if @player.new_record?
          = hidden_field :player, :player_id
        - else
          = render "utils/text_field_for", locals.merge(param: :player_id, text: t("player.master_id"), width: 2)
        = render "utils/text_area_for", locals.merge(param: :note, text: t("notes"), width: 10, rows: 10)
        = hidden_field :player, :source
      = render "utils/form_buttons", form: f, object: @player, admin: "show"
