- content_for :title, t("player.player")

= render "utils/prev_next", prev: @prev, id: @player.id, nixt: @next, namespace: :admin

.row
  .col-md-8.col-md-offset-2
    %h1.text-center
      = @player.name
      - if @player.duplicate?
        %span.label.label-danger= t("player.duplicate")
      - elsif !@player.active?
        %span.label.label-default= t("player.status.#{@player.status}")
    .voffset3
    %table.table.table-bordered
      %tr
        %th= t("player.id")
        %td= @player.id
      - if @player.duplicate?
        %tr
          %th= t("player.duplicate_of")
          %td= link_to @player.player_id, admin_player_path(@player.player_id)
      - if (duplicates = @player.duplicates).any?
        %tr
          %th= t("player.duplicates")
          %td
            - duplicates.each_with_index do |duplicate, n|
              = succeed(n == duplicates.size - 1 ? "" : ", ") do
                = link_to duplicate.id, admin_player_path(duplicate.id)
      %tr
        %th= t("player.last_name")
        %td= @player.last_name
      %tr
        %th= t("player.first_name")
        %td= @player.first_name
      %tr
        %th= t("player.dob")
        %td= @player.dob
      %tr
        %th= t("player.gender.gender")
        %td= t("player.gender.#{@player.gender}") if @player.gender.present?
      %tr
        %th= t("player.joined")
        %td= @player.joined
      %tr
        %th= t("email")
        %td= @player.email
      %tr
        %th= t("player.federation")
        %td= @player.federation(:with_code)
      %tr
        %th= t("player.title.titles")
        %td= @player.titles
      %tr
        %th= t("club.club")
        %td= @player.club.name if @player.club
      %tr
        %th= t("address")
        %td= @player.address
      %tr
        %th= t("player.phone.phones")
        %td= @player.phones
      %tr
        %th= t("player.legacy.rating")
        %td= @player.legacy_rating
      %tr
        %th= t("player.legacy.rating_type")
        %td= t("player.rating.type.#{@player.legacy_rating_type}") if @player.legacy_rating_type.present?
      %tr
        %th= t("player.legacy.games")
        %td= @player.legacy_games
      %tr
        %th= t("player.latest.rating")
        %td= @player.latest_rating
      %tr
        %th= t("player.status.status")
        %td= t("player.status.#{@player.status}")
      %tr
        %th= t("player.source.source")
        %td= t("player.source.#{@player.source}")
      = render "utils/timestamps", object: @player, ability: :manage
      - if @player.users.count > 0
        %tr
          %th= t("player.logins")
          %td
            - @player.users.each_with_index do |user, n|
              - if n > 0
                %br
              = link_to_if can?(:manage, @user), user.email, [:admin, user]
      - if @player.note.present?
        %tr
          %th{colspan: 2, class: "text-center"}= t("notes")
        %tr
          %td{colspan: 2}= @player.note_html
    - extras = {}
    - if can?(:manage, User)
      - extras["New user"] = new_admin_user_path(player_id: @player.id)
    = render "utils/show_buttons", object: @player, extras: extras, delete: false

= render "admin/journal_entries/changes", entries: @entries
