- content_for :title, t("player.player")

.row
  .col-md-8.col-md-offset-2
    %h1.text-center
      = @player.name
      - if @player.duplicate?
        %span.label.label-danger= t("player.duplicate")
      - elsif !@player.active?
        %span.label.label-default= t("player.status.#{@player.status}")
    %table.table.table-bordered
      %tr
        %th= t("player.id")
        %td= @player.id
      - if @player.duplicate?
        %tr
          %th= t("player.duplicate_of")
          %td= link_to @player.player_id, admin_player_path(@player.player_id)
      - if (duplicates = @player.duplicates).any?
        %tr
          %th= t("player.duplicates")
          %td
            - duplicates.each_with_index do |duplicate, n|
              = succeed(n == duplicates.size - 1 ? "" : ", ") do
                = link_to duplicate.id, admin_player_path(duplicate.id)
      %tr
        %th= t("player.last_name")
        %td= @player.last_name
      %tr
        %th= t("player.first_name")
        %td= @player.first_name
      %tr
        %th= t("player.dob")
        %td= @player.dob
      %tr
        %th= t("player.gender.gender")
        %td= t("player.gender.#{@player.gender}") if @player.gender.present?
      %tr
        %th= t("player.joined")
        %td= @player.joined
      %tr
        %th= t("player.email")
        %td= @player.email
      %tr
        %th= t("player.federation")
        %td= @player.federation(:with_code)
      %tr
        %th= t("player.title.titles")
        %td= @player.titles
      %tr
        %th= t("club.club")
        %td= @player.club.name if @player.club
      %tr
        %th= t("player.address")
        %td= @player.address
      %tr
        %th= t("player.phone.phones")
        %td= @player.phones
      %tr
        %th= t("player.status.status")
        %td= t("player.status.#{@player.status}")
      %tr
        %th= t("player.source.source")
        %td= t("player.source.#{@player.source}")
      = render "utils/timestamps", object: @player, ability: :manage
      - if @player.users.count > 0
        %tr
          %th= t("player.logins")
          %td
            - @player.users.each_with_index do |user, n|
              - if n > 0
                %br
              = link_to_if can?(:manage, @user), user.email, [:admin, user]
      - if @player.note.present?
        %tr
          %th{colspan: 2, class: "text-center"}= t("player.notes")
        %tr
          %td{colspan: 2}= @player.note_html
    - if can? :manage, @player
      = link_to "Edit", edit_admin_player_path(@player), class: "btn btn-primary"
    - if path = last_search(:players)
      = link_to t("last_search"), path, class: "btn btn-default"
    - else
      = link_to "Players", admin_players_path, class: "btn btn-default"
    - if can? :manage, User
      = link_to "New user", new_admin_user_path(player_id: @player.id), class: "btn btn-info"
= render "admin/journal_entries/changes", entries: @entries
