- content_for :title, t("download.downloads")

= render "utils/search_panel", form: "search_form", title: t("download.downloads"), col: "sm"

- extra = current_user.member?
- admin = can?(:create, Download)

.row
  .col-sm-12
    - if @downloads.count > 0
      %table{class: "table table-bordered", id: "results"}
        %thead
          %tr
            %th= t("file")
            %th= t("description")
            %th.text-center= t("year")
            - if extra
              %th= t("access.access")
        %tbody
          - @downloads.matches.each do |download|
            %tr.result
              %td= link_to download.data_file_name, download.url, target: "download"
              %td= link_to_if admin, download.description, [:admin, download]
              %td.text-center= download.year
              - if extra
                %td= t("access.#{download.access}")
          = render "utils/pagination_links", pager: @downloads, columns: 3 + (extra ? 1 : 0)
    = render "utils/index_buttons", klass: Download
