- content_for :title, t("article.articles")

= render "utils/search_panel", form: "search_form", title: t("article.articles"), col: "sm"

- admin = can?(:create, Article)

.row
  .col-sm-12
    - if @articles.count > 0
      %table{class: "table table-bordered table-striped", id: "results"}
        %thead
          %tr
            %th= t("article.title")
            %th.col-sm-1= t("year")
            %th= t("article.author")
            %th.col-sm-2= t("category")
            - if admin
              %th.col-sm-2= t("user.role.editor")
              %th.col-sm-1.text-center= t("active")
        %tbody
          - @articles.matches.each do |article|
            %tr.result
              %td= link_to article.title, article
              %td= article.year
              %td= article.author
              %td= t("article.category.#{article.category}")
              - if admin
                %td= article.user.player.name
                %td.text-center= article.active ? "✔" : "✘"
          = render "utils/pagination_links", pager: @articles, columns: 4 + (admin ? 2 : 0)
    = render "utils/index_buttons", klass: Article
