- content_for :title, @article.title
- content_for :includes do
  = javascript_include_tag "email.js"

= render "utils/prev_next", prev_next: @prev_next

%h1.text-center
  = @article.title
  - unless @article.active
    = "(inactive)"
- if @article.author
  %p.text-center= @article.author
- @article.series.each do |series|
  = render "series", series: series, article: @article
%hr
#article= @article.html
%hr
= render "utils/editing_details", object: @article
%hr
= render "utils/show_buttons", object: @article

= render "admin/journal_entries/changes", entries: @entries
