- content_for :title, t("shop.cart.checkout")
- content_for :includes do
  = javascript_include_tag "https://js.stripe.com/v2/"
  = javascript_include_tag "spin.js"
  = javascript_include_tag "payment.js"
- content_for :javascript do
  = render "card.js"

= form_tag charge_path(format: "js"), id: "icu_form", remote: true do
  = hidden_field_tag :stripe_token
  = hidden_field_tag :payment_name
  = hidden_field_tag :confirmation_email

= form_tag "", id: "stripe_form", class: "form-horizontal", role: "form" do
  - locals = { col: "sm", pad: 5, width: 3, param: nil}
  .row
    .col-sm-12.text-center
      = link_to cart_path, class: "btn btn-info btn-md" do
        = succeed(":") do
          = t("shop.payment.card.amount_due")
        = euros(current_cart.total_cost)
  %hr
  .row
    = render "utils/text_field_tag", locals.merge(text: t("shop.payment.card.number"), extra: { id: "number", data: { stripe: "number" } })
    .form-group
      = label_tag nil, t("shop.payment.card.expiration"), class: "control-label col-sm-5"
      .col-sm-2= select_tag nil, card_mm_menu, class: "form-control", id: "exp-month", data: { stripe: "exp-month" }
      .col-sm-2= select_tag nil, card_yyyy_menu, class: "form-control", id: "exp-year", data: { stripe: "exp-year" }
    = render "utils/text_field_tag", locals.merge(text: t("shop.payment.card.security_code"), width: 2, extra: { id: "cvc", data: { stripe: "cvc" } })
    = render "utils/text_field_tag", locals.merge(text: t("shop.payment.card.name"), param: "payment_name", extra: { id: "name", data: { stripe: "name" } })
    = render "utils/text_field_tag", locals.merge(text: t("shop.payment.confirmation_email"), param: "confirmation_email", extra: { id: "email" })
  %hr
  .row
    .col-sm-5
    .col-sm-7
      = button_tag t("shop.payment.card.pay"), type: "submit", class: "btn btn-success btn-md"
      = link_to t("cancel"), cart_path, class: "btn btn-info btn-md", id: "cancel_button"
  %hr
  #payment_error.row{style: "display: none"}
    .col-sm-12
      .text-center{class: "alert alert-danger"}
        %button.close{"type" => "button", "data-dismiss" => "alert"} ×
        %span{id: "payment_error_message"}
