- content_for :title, "ICU Officers"
- add_help("officers")

.row
  .col-sm-10.col-sm-offset-1
    %table{class: "table table-striped"}
      %thead
        %tr
          %th= t("officer.role.role")
          %th= t("officer.rank")
          %th= t("email")
          %th= t("officer.incumbent")
      %tbody
        - @officers.each do |officer|
          %tr
            %td= link_to t("officer.role.#{officer.role}"), [:admin, officer]
            %td{class: officer.active ? nil : "text-done"}= officer.rank
            %td= officer.emails.join(", ")
            %td= officer.player.name(id: true) if officer.player.present?
