- defined?(off) || off = 0
- defined?(on)  || on  = 1

.form-group{class: object.errors[param].any? ? "has-error" : ""}
  = form.label param, text, class: "control-label col-#{col}-#{pad}"
  %div{class: "col-#{col}-#{width}"}= form.check_box param, { class: "form-control" }, on, off
  %div{class: "col-#{col}-#{12-pad-width} help-block"}= object.errors[param].first
