- defined?(admin) || admin = ""

- type = object.class.to_s.underscore
- if object.new_record?
  - cancel_path = send("#{admin.include?("index") ? 'admin_' : ''}#{type.pluralize}_#{type.pluralize == type ? 'index_' : ''}path")
- else
  - cancel_path = admin.include?("show") ? [:admin, object] : object

%hr
.text-center
  = form.submit t("save"), class: "btn btn-primary"
  = link_to t("cancel"), cancel_path, class: "btn btn-default"
