- defined?(namespace) || namespace = nil

- if prev || nixt
  .text-center
    .btn-group
      - if prev
        = link_to "☜&nbsp;&nbsp;#{prev.id}".html_safe, namespace ? [namespace, prev] : prev, class: "btn btn-primary"
      %span.btn.btn-info= id
      - if nixt
        = link_to "#{nixt.id}&nbsp;&nbsp;☞".html_safe, namespace ? [namespace, nixt] : nixt, class: "btn btn-primary"

.voffset3
