- defined?(namespace) || namespace = nil
- defined?(numbers)   || numbers = true

- if prev || nixt
  .text-center
    .btn-group
      - if prev
        - text = ("☜" + (numbers ? "&nbsp;&nbsp;#{prev.id}" : "")).html_safe
        = link_to text, namespace ? [namespace, prev] : prev, class: "btn btn-primary"
      - if numbers
        %span.btn.btn-info= id
      - if nixt
        - text = ((numbers ? "#{nixt.id}&nbsp;&nbsp;" : "") + "☞").html_safe
        = link_to text, namespace ? [namespace, nixt] : nixt, class: "btn btn-primary"

.voffset3
