- defined?(pad)   || pad = 0
- defined?(col)   || col = "sm"
- defined?(title) || title = nil

.row
  %div{class: "col-#{col}-#{12-pad-pad} col-#{col}-offset-#{pad}"}
    .panel.panel-default
      - if title.present?
        .panel-heading.text-center
          %strong= title
      .panel-body= render form
