- unless defined?(auto)
  - auto = false

.form-group
  = label_tag param, text, class: "control-label col-#{col}-#{pad}"
  %div{class: "col-#{col}-#{width}"}= select_tag param, menu, class: auto_submit("form-control", auto)
