- defined?(admin)    || admin = ""
- defined?(extras)   || extras = {}
- defined?(delete)   || delete = true
- defined?(last_key) || last_key = object.class.to_s.tableize

- type = object.class.to_s.underscore
- last_path = last_search(last_key) if last_key
- new_path = send("#{admin.include?("search") ? 'admin_' : ''}#{type.pluralize}_#{type.pluralize == type ? 'index_' : ''}path")

.text-center
  - if can?(:update, object)
    = link_to t("edit"), send("edit_admin_#{type}_path", object), class: "btn btn-primary"
  - if delete && can?(:destroy, object)
    = link_to t("delete"), send("admin_#{type}_path", object), data: { confirm: "Sure you want to delete this #{type}?" }, method: :delete, class: "btn btn-danger"
  - if last_path
    = link_to t("last_search"), last_path, class: "btn btn-default"
  = link_to t("new_search"), new_path, class: "btn btn-default"
  - extras.each do |text, link|
    = link_to text, link, class: "btn btn-info"
