- defined?(extra)       || extra       = {}
- defined?(placeholder) || placeholder = nil
- defined?(type)        || type        = "text"

.form-group
  = label_tag param, text, class: "control-label col-#{col}-#{pad}"
  - opts = { class: "form-control", type: type, placeholder: placeholder }.merge(extra)
  %div{class: "col-#{col}-#{width}"}= text_field_tag param, params[param], opts
