- defined?(mark)        || mark        = "none"
- defined?(placeholder) || placeholder = nil
- defined?(type)        || type        = "text"

.form-group{class: object.errors[param].any? ? "has-error" : ""}
  = form.label param, text + mark(mark), class: "control-label col-#{col}-#{pad}"
  %div{class: "col-#{col}-#{width}"}= form.text_field param, class: "form-control", type: type, placeholder: placeholder
  %div{class: "col-#{col}-#{12-pad-width} help-block"}= object.errors[param].first
