- content_for :includes do
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google['simple_api_key']}"
- content_for :javascript do
  = render "events.js"
- content_for :title, t("event.map")

= render "utils/list_map_buttons", resource: "events"

- if @forthcoming && @forthcoming > @events.size
  %p.text-center.small
    = @events.size
    out of
    = @forthcoming
    forthcoming events have supplied their geocodes for a marker below

.row
  #map-canvas.col-md-6.col-md-offset-3
