= form_tag admin_carts_path, method: :get, class: "form-inline", role: "form" do
  = render "utils/inline_select", param: :status, text: "Status", menu: cart_status_menu(params[:status])
  = render "utils/inline_text_field", param: :name, text: "Name", size: 8
  = render "utils/inline_text_field", param: :email, text: "Email", size: 8
  = render "utils/inline_text_field", param: :date, text: t("date_format"), size: 11
  = render "utils/inline_text_field", param: :id, text: "ID", size: 5
  = button_tag t("search"), type: "submit", class: "btn btn-default pull-right"
