.row
  .col-md-8.col-md-offset-2
    %h1.text-center Cart
    %table.table.table-bordered.table-striped
      %tr
        %th= "ID"
        %td
          %strong= cart.id
          = precede("(") do
            = succeed(")") do
              = "#{pluralize(cart.cart_items.size, 'item')}, #{pluralize(cart.payment_errors.size, 'error')}"
      %tr
        %th Status
        %td= t("shop.payment.status.#{cart.status}")
      %tr
        %th Total
        %td
          = euros(cart.total)
          - unless cart.total == cart.original_total
            = precede("(") do
              = succeed(")") do
                = "originally"
                = euros(cart.original_total)
      %tr
        %th Name
        %td= cart.payment_name
      %tr
        %th Email
        %td= cart.confirmation_email
      - if cart.payment_method.present?
        %tr
          %th Payment method
          %td= t("shop.payment.method.#{cart.payment_method}")
      - if cart.payment_ref.present?
        %tr
          %th Payment reference
          %td= link_to cart.payment_ref, show_charge_admin_cart_path(cart), remote: true, id: "charge_modal_link"
      - if cart.payment_completed.present?
        %tr
          %th Payment completed
          %td= cart.payment_completed.to_s(:db)
      = render "utils/timestamps", object: cart, dt_format: :db
    - if cart.refundable? && can?(:edit, Cart)
      = link_to "Refund...", edit_admin_cart_path(cart), class: "btn btn-danger"
    
