- content_for :title, "Carts"

= render "utils/search_panel", form: "admin/carts/search_form", title: "Carts"
- if @carts.count > 0
  .row
    .col-sm-12
      %table{class: "table table-bordered table-striped table-condensed", id: "results"}
        %thead
          %tr
            %th ID
            %th Total
            %th Status
            %th Name
            %th Email
            %th Created
            %th Last updated
        %tbody
          - @carts.matches.each do |cart|
            %tr
              %td= link_to cart.id, [:admin, cart]
              %td= euros(cart.total)
              %td= t("shop.payment.status.#{cart.status}")
              %td= cart.payment_name
              %td= cart.confirmation_email
              %td= to_date(cart.created_at)
              %td= to_date(cart.updated_at)
          = render "utils/pagination_links", pager: @carts, columns: 7
