- content_for :title, "Cart"
- content_for :javascript do
  = render "modal_control.js"
- if @cart.payment_ref.present?
  - content_for :includes do
    = javascript_include_tag "spin.js"

= render "charge_modal"
= render "utils/prev_next", prev_next: @prev_next, numbers: true
= render "summary", cart: @cart
- unless @cart.items.empty?
  = render "items", cart: @cart
- unless @cart.refunds.empty?
  = render "refunds", cart: @cart
- unless @cart.payment_errors.empty?
  = render "errors", cart: @cart
- unless @cart.unpaid?
  = render "payment_receipt", cart: @cart
