%hr
%h3.text-center Cart Items
.row
  .col-md-12
    %table{class: "table table-striped"}
      %thead
        %tr
          %th.col-sm-4= t("shop.cart.item.item")
          %th.col-sm-4= t("shop.cart.item.member")
          %th.col-sm-2= t("shop.payment.status.status")
          %th.col-sm-2.text-center= t("shop.cart.item.cost")
      %tbody
        - cart.items.each do |item|
          %tr
            %td= item.description
            %td= item.player.name(id: true) if item.player.present?
            %td= t("shop.payment.status.#{item.status}")
            %td.text-center= euros(item.cost)
        %tr
          %th{colspan: 3}= t("shop.cart.total")
          %th.text-center= euros(cart.total_cost)
