- content_for :title, "Edit User"

.row
  .col-sm-8.col-sm-offset-2
    = form_for @user, html: { class: "form-horizontal", role: "form" } do |f|
      %fieldset
        %legend= @user.email
        - locals = { form: f, object: @user, col: "sm", pad: 3, width: 3 }
        = render "utils/select_for", locals.merge(param: :theme, text: t("user.theme"), menu: user_theme_menu(@user.preferred_theme))
        = render "utils/select_for", locals.merge(param: :locale, text: t("user.locale"), menu: user_locale_menu(@user.locale))
      %hr
      .text-center
        = f.submit t("save"), class: "btn btn-primary"
        = link_to t("cancel"), @user, class: "btn btn-default"
