- content_for :title, "Logins"

.row
  .col-sm-12
    = render "utils/search_panel", form: "admin/logins/search_form", title: "Logins"
    - if @logins.count > 0
      %table{class: "table table-bordered table-striped table-condensed", id: "results"}
        %thead
          %tr
            %th Name
            %th Email
            %th{class: "text-center"} IP
            %th{class: "text-center"} Err
            %th Ago
        %tbody
          - @logins.matches.each do |login|
            %tr
              %td
              %td
                - if login.user
                  = link_to login.user.email, [:admin, login.user]
                - else
                  = login.email
              %td{class: "text-center"}= login.ip
              %td{class: "text-center"}= login.error ? "✘" : "✔"
              %td= link_to time_ago_in_words(login.created_at, include_seconds: true), [:admin, login]
          = render "utils/pagination_links", pager: @logins, columns: 5
