- content_for :title, "Logins"

= render "utils/search_panel", form: "admin/logins/search_form", title: "Logins", pad: 1
- if @logins.count > 0
  .row
    .col-sm-10.col-sm-offset-1
      %table{class: "table table-bordered table-striped", id: "results"}
        %thead
          %tr
            %th Player
            %th User
            %th IP
            %th{class: "text-center"} OK
            %th Ago
        %tbody
          - @logins.matches.each do |login|
            %tr
              %td= link_to login.user.player.name, [:admin, login.user.player]
              %td= link_to login.user.email, [:admin, login.user]
              %td= login.ip
              %td{class: "text-center"}= login.error ? "✘" : "✔"
              %td{title: login.created_at.to_s(:db)}= link_to time_ago_in_words(login.created_at, include_seconds: true), [:admin, login]
          = render "utils/pagination_links", pager: @logins, columns: 5
