- content_for :title, "Login"

= render "utils/prev_next", prev_next: @prev_next

.row
  .col-sm-6.col-sm-offset-3
    %h1.text-center Login
    %table.table.table-bordered
      %tr
        %th User
        %td= link_to @login.user.email, [:admin, @login.user]
      %tr
        %th Time
        %td= @login.created_at.to_s(:db)
      %tr
        %th IP
        %td= @login.ip
      %tr
        %th Roles
        %td= @login.roles
      %tr
        %th Error
        %td= @login.error
.text-center
  - if path = last_search(:logins)
    = link_to t("last_search"), path, class: "btn btn-default"
  = link_to t("new_search"), admin_logins_path, class: "btn btn-default"
