- content_for :title, "Login"

.row
  .col-sm-6.col-sm-offset-3
    %h1.text-center Login
    %table.table.table-bordered
      %tr
        %th User
        %td= link_to @login.user.email, [:admin, @login.user]
      %tr
        %th Time
        %td= @login.created_at.to_s(:db)
      %tr
        %th IP
        %td= @login.ip
      %tr
        %th Roles
        %td= @login.roles
      %tr
        %th Error
        %td= @login.error
    - if path = last_search(:admin, :users)
      = link_to t("last_search"), path, class: "btn btn-default"
    - else
      = link_to "Logins", admin_logins_path, class: "btn btn-default"
