- content_for :title, t("tournament.tournament")
- content_for :includes do
  = javascript_include_tag "email.js"

- admin = can?(:manage, @tournament)

= render "utils/prev_next", prev: @prev, id: @tournament.id, nixt: @next

.row
  .col-md-8.col-md-offset-2
    %h1.text-center
      = @tournament.name
      - unless @tournament.active
        %small= "(#{t('inactive')})"
    %table.table.table-bordered
      %tr
        %th= t("city")
        %td= @tournament.city
        %th= t("year")
        %td= @tournament.year
      %tr
        %th= t("tournament.category.category")
        %td= t("tournament.category.#{@tournament.category}")
        %th= t("tournament.format.format")
        %td= t("tournament.format.#{@tournament.format}")
      = render "utils/timestamps", object: @tournament, ability: :manage, two_col: true

.row
  .col-md-12
    %pre= preserve_leading_space(@tournament.html).html_safe

.row.voffset1
  .col-md-12
    = render "utils/show_buttons", object: @tournament

= render "admin/journal_entries/changes", entries: @entries
