.row
  .col-sm-1
  .col-sm-10
    = form_for [:admin, @club], html: { class: "form-horizontal", role: "form" } do |f|
      %fieldset
        = render "utils/form_header", object: @club, atr: :name
        - locals = { form: f, object: @club, col: "sm", pad: 2, width: 4 }
        = render "utils/text_field_for", locals.merge(param: :name, text: t("name"))
        = render "utils/text_field_for", locals.merge(param: :web, text: t("club.web"), width: 6)
        = render "utils/text_field_for", locals.merge(param: :meet, text: t("club.meet"), width: 6)
        = render "utils/text_field_for", locals.merge(param: :address, text: t("address"))
        = render "utils/text_field_for", locals.merge(param: :district, text: t("club.district"))
        = render "utils/text_field_for", locals.merge(param: :city, text: t("city"))
        = render "utils/select_for", locals.merge(param: :county, text: t("club.county"), width: 3, menu: club_county_menu(@club.county, "please_select"))
        = render "utils/text_field_for", locals.merge(param: :lat, text: t("club.lat"), width: 2)
        = render "utils/text_field_for", locals.merge(param: :long, text: t("club.long"), width: 2)
        = render "utils/text_field_for", locals.merge(param: :contact, text: t("contact"))
        = render "utils/text_field_for", locals.merge(param: :email, text: t("email"))
        = render "utils/text_field_for", locals.merge(param: :phone, text: t("club.phone"))
        = render "utils/check_box_for", locals.merge(param: :active, text: t("active"), width: 1)
      = render "utils/form_buttons", form: f, object: @club
