= form_tag events_path, method: :get, class: "form-inline", role: "form" do
  = render "utils/inline_text_field", param: :name, text: t("event.name"), size: 15
  = render "utils/inline_text_field", param: :location, text: t("event.location"), size: 15
  = render "utils/inline_select",     param: :year, text: t("year"), menu: event_year_menu(params[:year])
  = render "utils/inline_select",     param: :month, text: t("month.month"), menu: event_month_menu(params[:month])
  - if can?(:create, Event)
    = render "utils/inline_select", param: :active, text: t("active"), menu: event_active_menu(params[:active])
  = button_tag t("search"), type: "submit", class: "btn btn-default pull-right"
