- content_for :title, t("event.calendar")

= render "utils/list_map_buttons", resource: "events", map: false
= render "utils/search_panel", form: "search_form", title: t("event.events"), col: "md"

- extra = can?(:create, Event)

.row
  .col-md-12
    - if @events.count > 0
      %table{class: "table table-striped", id: "results"}
        %thead
          %tr
            %th.text-center= t("dates")
            %th= t("event.name")
            %th= t("event.location")
            - if extra
              %th.text-center= t("active")
        %tbody
          - @events.matches.each do |event|
            %tr
              %td.no-wrap.text-right= event.dates
              %td= link_to event.name, event
              %td= link_to_if event.geocodes?, event.location, events_map_path(event)
              - if extra
                %td.text-center= event.active ? "✔" : "✘"
          = render "utils/pagination_links", pager: @events, columns: 3 + (extra ? 1 : 0)
    = render "utils/index_buttons", klass: Event
