- content_for :title, t("event.event")

= render "utils/prev_next", prev_next: @prev_next

- admin = can?(:create, Image)

%h1.text-center= @event.name

.row.voffset3
  .col-md-8.col-md-offset-2
    %table.table.table-bordered
      %tr
        %th= t("event.location")
        %td= @event.location
      %tr
        %th= t("event.start")
        %td= @event.start_date
      %tr
        %th= t("event.end")
        %td= @event.end_date
      - if @event.contact.present? || @event.email.present? || @event.phone.present?
        %tr
          %th= t("contact")
          %td
            - if @event.contact.present? || @event.email.present?
              = succeed(@event.phone.present? ? "," : "") do
                - if @event.email.present?
                  = mail_to @event.email, @event.contact.present? ? @event.contact : @event.email
                - else
                  = @event.contact
            - if @event.phone.present?
              = @event.phone
      - if @event.url.present?
        %tr
          %th= t("event.url")
          %td= link_to simple_url(@event.url), @event.url, target: "event"
      - if @event.flyer.present?
        %tr
          %th= t("event.flyer")
          %td
            = link_to @event.flyer_file_name, @event.flyer.url
            - if admin
              = "(#{@event.flyer_content_type}, #{@event.flyer_file_size} bytes)"
        - if admin && @event.flyer_updated_at != @event.updated_at
          %tr
            %th= "File last updated"
            %td= @event.flyer_updated_at.to_s(:nosec)
      %tr
        %th= t("category")
        %td= t("event.category.#{@event.category}")
      = render "utils/timestamps", object: @event, ability: :create
      - if admin && @event.user.present?
        %tr
          %th= t("user.role.editor")
          %td= @event.user.player.name
      - if @event.note.present?
        %tr
          %th{colspan: 2, class: "text-center"}= t("notes")
        %tr
          %td{colspan: 2}= @event.note_html
    = render "utils/show_buttons", object: @event

= render "admin/journal_entries/changes", entries: @entries
