.panel.panel-default
  .panel-heading
    = news.headline
    - unless news.active
      = "(inactive)"
    .pull-right.hidden-xs= news.date
    .pull-right.visible-xs-block= news.short_date
  .panel-body.news= news.html
