- content_for :title, @news.headline

- admin = can?(:create, News)
- template = admin ? "news/source_button" : nil

= render "utils/prev_next", prev_next: @prev_next

.row
  .col-md-10.col-md-offset-1
    = render "panel", news: @news
    = render "utils/editing_details", object: @news
    %hr
    = render "utils/show_buttons", object: @news, template: template

= render "admin/journal_entries/changes", entries: @entries

- if admin
  = render "source_modal"
