%span{class: "#{items.values.any?{ |done| !done } ? '' : 'text-done'}"}= "#{topic}:"
- items.keys.each do |item|
  = succeed "#{item == items.keys.last ? '' : ','}" do
    %span{class: "#{items[item] ? 'text-done' : ''}"}= item