.row
  .col-xs-12.text-center
    %h2= t("under_construction")
.row
  .col-sm-2
  .col-sm-8
    %p
      This will eventually (sometime in 2004) be the new web site for the ICU.
      The following list indicates what's been done (crossed out) and what's still left to do.
    %ul
      %li= render partial: "todo", locals: { topic: "Users", items: {sessions: true, logins: true, admin: true, preferences: true, legacy_sync: true, ratings_sync: false, documentation: false} }
      %li= render partial: "todo", locals: { topic: "English/Irish", items: {database: true, admin: true, switching: true, caching: true, documentation: false} }
      %li= render partial: "todo", locals: { topic: "Clubs", items: nil }
      %li= render partial: "todo", locals: { topic: "Members", items: nil }
      %li= render partial: "todo", locals: { topic: "Shop", items: nil }
      %li= render partial: "todo", locals: { topic: "Help", items: nil }
      %li= render partial: "todo", locals: { topic: "Images", items: nil }
      %li= render partial: "todo", locals: { topic: "Calendar", items: nil }
      %li= render partial: "todo", locals: { topic: "Games", items: nil }
      %li= render partial: "todo", locals: { topic: "Tournaments", items: nil }
      %li= render partial: "todo", locals: { topic: "News", items: nil }
      %li= render partial: "todo", locals: { topic: "Articles", items: nil }
      %li= render partial: "todo", locals: { topic: "Juniors", items: nil }
      %li= render partial: "todo", locals: { topic: "Voting", items: nil }
