- content_for :title, t("links.links")

%h3.text-center= t("links.links")
%hr

.row
  .col-md-4.col-md-offset-1
    %h4= t("links.provinces")
    %ul
      %li= link_to "#{t('links.lcu')} (LCU)", "http://www.leinsterchess.com/", target: "external"
      %li= link_to "#{t('links.mcu')} (MCU)", "http://www.aspennet.ie/MCU/index.html", target: "external"
      %li= link_to "#{t('links.ucu')} (UCU)", "http://www.ulsterchess.org/", target: "external"
    %h4= t("links.history")
    %ul
      %li= link_to "Irish Chess History", "http://irishchesshistory.wordpress.com/", target: "external"
      %li= link_to "IRLchess", "http://www.irlchess.com/", target: "external"
    %h4= t("links.play")
    %ul
      %li= link_to "Chess24", "https://chess24.com/en", target: "external"
      %li= link_to "Internet Chess Club", "http://www.chessclub.com/", target: "external"
  .col-md-4.col-md-offset-2
    %h4= t("links.international")
    %ul
      %li= link_to "#{t('links.fide')} (FIDE)", "http://www.fide.com", target: "external"
      %li= link_to "#{t('links.ecu')} (ECU)", "http://www.ecuonline.net/", target: "external"
    %h4= t("links.data")
    %ul
      %li= link_to "The Week in Chess", "http://www.theweekinchess.com/", target: "external"
      %li= link_to "ChessBase", "http://en.chessbase.com/", target: "external"
      %li= link_to "365Chess", "http://www.365chess.com/", target: "external"
      %li= link_to "Chess-DB", "http://chess-db.com/", target: "external"
