- content_for :title, "Subscription Fee"

.row
  .col-md-8.col-md-offset-2

    %h1.text-center Subscription Fee

    %table.table.table-bordered
      %tr
        %th= t("fee.subscription.category.category")
        %td= t("fee.subscription.category.#{@fee.category}")
      %tr
        %th= t("fee.subscription.season")
        %td= @fee.season_desc
      %tr
        %th= t("fee.amount")
        %td= euros(@fee.amount)
      %tr
        %th= t("fee.sale_start")
        %td= @fee.sale_start.to_s
      %tr
        %th= t("fee.sale_end")
        %td= @fee.sale_end.to_s
      %tr
        %th= t("fee.subscription.age_ref_date")
        %td= @fee.age_ref_date.to_s
      = render "utils/timestamps", object: @fee

    = link_to "Edit", edit_admin_subscription_fee_path(@fee), class: "btn btn-primary"
    = link_to "Delete", admin_subscription_fee_path(@fee), data: { confirm: "Sure you want to delete this fee?" }, method: :delete, class: "btn btn-danger"
    - if @fee.rolloverable?
      = link_to "Rollover", rollover_admin_subscription_fee_path(@fee), class: "btn btn-info"
    = link_to "Fees", admin_subscription_fees_path, class: "btn btn-default"

= render "admin/journal_entries/changes", entries: @entries
