- content_for :title, t("game.games")

= render "utils/search_panel", form: "search_form", title: t("game.games"), col: "md"

.row
  .col-md-12
    - if @games.count > 0
      %table{class: "table table-bordered", id: "results"}
        %thead
          %tr
            %th= t("game.white")
            %th= t("game.black")
            %th.text-center= t("game.result")
            %th.text-center= "ECO"
            %th.text-center= t("date")
            %th= t("game.event")
        %tbody
          - @games.matches.each do |game|
            %tr
              %td= game.white
              %td= game.black
              %td.text-center= link_to game.result, game
              %td.text-center= game.eco
              %td.text-center= game.date
              %td= game.event
          = render "utils/pagination_links", pager: @games, columns: 6
    - extras = {}
    - extras[t("game.pgn.download.games")] = @download if @download
    = render "utils/index_buttons", klass: Pgn, extras: extras
    - if @db_text && @db_path
      %br
      .text-center.small
        = link_to @db_text, @db_path
        = "(#{@db_details})" if @db_details
