- content_for :title, t("game.game")

= render "utils/prev_next", prev_next: @prev_next

%h3.text-center
  = @game.white_with_elo
  = "—"
  = @game.black_with_elo
%p.text-center
  = succeed(",") do
    = @game.details
  %strong= @game.result
- if @game.annotator
  %p.text-center= "#{t('game.annotator')}: #{@game.annotator}"
%pre= @game.moves

= render "utils/show_buttons", object: @game

= render "admin/journal_entries/changes", entries: @entries
