- content_for :title, t("game.game")
- add_help("pgn")

= render "utils/prev_next", prev_next: @prev_next

%h3.text-center
  = @game.white_with_elo
  = "—"
  = @game.black_with_elo
%p.text-center
  = succeed(",") do
    = @game.details
  %strong= @game.result
- if @game.annotator
  %p.text-center= "#{t('game.annotator')}: #{@game.annotator}"
%pre= @game.moves

- extras = {}
- extras[t("game.pgn.download.game")] = game_path(@game, format: "pgn") if can?(:download, Game)
= render "utils/show_buttons", object: @game, extras: extras

= render "admin/journal_entries/changes", entries: @entries
