.row
  .col-sm-1
  .col-sm-10
    = form_for [:admin, @fee], html: { class: "form-horizontal", role: "form" } do |form|
      %fieldset
        %legend= "#{@fee.new_record? ? 'New' : 'Edit'} " + t("fee.type.#{@fee.subtype}")
        = form.hidden_field :type
        = render "admin/fees/forms/#{@fee.subtype}", f: form, locals: { form: form, object: @fee, col: "sm", pad: 3, width: 2 }
        %hr
        = form.submit "Save", class: "btn btn-primary"
        = link_to "Cancel", @fee.new_record? ? admin_fees_path : [:admin, @fee], class: "btn btn-default"
