- content_for :title, t("fee.type.subscription")

= form_for @sub do |form|
  = form.hidden_field :subscription_fee_id
  = form.hidden_field :player_id
  = form.hidden_field :season_desc

  .row
    .col-md-6.col-md-offset-3
      .panel.panel-info
        .panel-heading
          %h4.panel-title
            = t("fee.type.subscription")
            = @fee.season_desc
            .pull-right= euros(@fee.cost)
        .panel-body
          = render "cart_items/detail", term: t("fee.subscription.category.category"), desc: t("fee.subscription.category.#{@fee.category}")
          = render "cart_items/detail", term: t("fee.subscription.valid.from"), desc: @fee.season.start.to_s
          = render "cart_items/detail", term: t("fee.subscription.valid.to"), desc: @fee.season.end.to_s
          = render "cart_items/detail", term: t("shop.cart.item.member"), desc: "", id: "player_name"
        .panel-footer
          = render "player_ids_button"
          = render "cart_items/add_to_cart", form: form

= render "player_ids/modal", title: t("shop.cart.item.select_member")
%script
  = render "player_ids_callback.js"
