= form_tag admin_journal_entries_path, method: :get, class: "form-inline", role: "form" do
  = render "utils/inline_select", param: :type, text: "Type", menu: journal_entry_type_menu(params[:type])
  = render "utils/inline_text_field", param: :id, text: "ID", size: 3
  = render "utils/inline_select", param: :je_action, text: "Action", menu: journal_entry_action_menu(params[:je_action])
  = render "utils/inline_text_field", param: :column, text: "Column", size: 12
  = render "utils/inline_text_field", param: :from, text: "From", size: 12
  = render "utils/inline_text_field", param: :to, text: "To", size: 12
  .voffset2
  = render "utils/inline_text_field", param: :by, text: "By", size: 12
  = render "utils/inline_text_field", param: :ip, text: "IP", size: 12
  = button_tag t("search"), type: "submit", class: "btn btn-default pull-right"
