- unless defined?(number)
  - number = nil
- unless defined?(toggle)
  - toggle = false

.row
  .col-md-1= "#{number}." if number
  .col-md-10
    %ul
      %li
        = "#{t("shop.cart.total")}:"
        %strong= euros(cart.total || cart.total_cost)
      - if cart.payment_completed
        %li
          = "#{t("shop.payment.time_since")}:"
          %strong= time_ago_in_words(cart.payment_completed, include_seconds: true)
          = "(#{cart.payment_completed.to_s(:db)})"
      - if cart.confirmation_email
        %li
          = "#{t("shop.payment.confirmation_email")}:"
          %strong= cart.confirmation_email
      - if cart.payment_method
        %li
          = "#{t("shop.payment.method.method")}:"
          %strong= I18n.t("shop.payment.method.#{cart.payment_method}")
      - if toggle
        %li
          = link_to t("shop.cart.show"), shop_path, id: "toggle-#{cart.id}", data: { toggle: cart.id }
