- content_for :title, t("shop.cart.cart")

.row
  .col-md-12.text-center
    = link_to shop_path, class: "btn btn-info btn-md" do
      = t("shop.cart.continue")
    - if current_cart && current_cart.items > 0
      = link_to card_path, class: "btn btn-success btn-md" do
        = t("shop.cart.checkout")
%hr
= render "items", cart: @cart