- content_for :title, t("shop.shop")

- if current_cart || @completed_carts.present?
  .row
    .col-sm-12.text-center
      - if current_cart
        = link_to cart_path, class: "btn btn-info btn-md" do
          = succeed(":") do
            = t("shop.cart.current")
          = succeed(",") do
            = t("item.n_items", count: current_cart.items.count)
          = euros(current_cart.total_cost)
      - if @completed_carts.present?
        = link_to t("shop.cart.completed"), completed_path, class: "btn btn-info btn-md"
%hr
- @fees.sort_by{ |k,v| Fee::TYPES.index(k) }.each do |type, fees|
  .row
    .col-sm-3
    .col-sm-6
      %h3.text-center= t("fee.type.plural.#{Fee.subtype(type)}")
      %table.table.table-bordered
        %tbody
          - fees.sort_by{ |f| f.description }.each do |fee|
            %tr
              %td.col-sm-10= link_to fee.description, new_item_path(fee_id: fee.id)
              %td.col-sm-2.text-center= euros(fee.amount)
