.row
  .col-md-8.col-md-offset-2
    = form_for @player, html: { class: "form-horizontal", role: "form" } do |f|
      %fieldset
        %legend= t(legend)
      
        .form-group{class: @player.errors[:last_name].any? ? "has-error" : ""}
          = f.label :last_name, class: "control-label col-sm-3"
          .col-sm-5
            = f.text_field :last_name, class: "form-control"
          .col-sm-4.help-block
            = @player.errors.messages[:last_name].first
      
        .form-group{class: @player.errors[:first_name].any? ? "has-error" : ""}
          = f.label :first_name, class: "control-label col-sm-3"
          .col-sm-5
            = f.text_field :first_name, class: "form-control"
          .col-sm-4.help-block
            = @player.errors.messages[:first_name].first

        %hr
        = f.submit t("save"), class: "btn btn-primary"
        = link_to t("cancel"), players_path, class: "btn btn-danger"
