.span2
.span8
  = simple_form_for @player, html: { class: "form-vertical" } do |f|
    %fieldset
      %legend= legend
      
      .form-attributes
        = f.input :last_name
        = f.input :first_name

      .form-actions
        = f.submit "Save", class: "btn btn-primary"
        = link_to "Cancel", players_path, class: "btn btn-danger"
.span2
