= form_tag players_path, method: :get, class: "form-inline", role: "form" do
  = render "utils/inline_text_field", param: :id, text: t("player.id"), size: 5
  = render "utils/inline_text_field", param: :last_name, text: t("player.last_name"), size: 8
  = render "utils/inline_text_field", param: :first_name, text: t("player.first_name"), size: 8
  = render "utils/inline_select", param: :gender, text: t("player.gender.gender"), menu: player_gender_menu(params[:gender], "player.any_gender")
  = render "utils/inline_select", param: :yob_relation, text: "", menu: player_yob_relation_menu(params[:yob_relation])
  = render "utils/inline_text_field", param: :yob, text: t("player.abbrev.yob"), size: 4
  - unless current_user.guest?
    = render "utils/inline_select", param: :status, text: t("player.status"), menu: player_status_menu(params[:status], any: true, duplicate: true)
  = render "utils/inline_select", param: :order, text: t("order"), menu: player_order_menu(params[:order])
  .voffset2
  = render "utils/inline_select", param: :fed, text: t("player.federation"), menu: player_federation_menu(params[:fed])
  = render "utils/inline_select", param: :title, text: t("player.title.title"), menu: player_title_menu(params[:title])
  = render "utils/inline_select", param: :club_id, text: t("club.club"), menu: club_menu(params[:club_id], any: true, none: true)
  = button_tag "Search", type: "submit", class: "btn btn-default pull-right"
