- content_for :title, "Players"

= render "utils/search_panel", form: "search_form", title: t("player.players"), col: "md"

- if @players.count > 0
  .row
    .col-sm-8.col-sm-offset-2
      %table{class: "table table-striped table-condensed", id: "results"}
        %thead
          %tr
            %th.col-sm-1= t("player.abbrev.id")
            %th.col-sm-4= t("player.name")
            %th.col-sm-1= t("player.abbrev.gender")
            %th.col-sm-1= t("player.abbrev.yob")
            %th.col-sm-1= t("player.abbrev.federation")
            %th.col-sm-1= t("player.abbrev.title")
            %th.col-sm-3= t("club.club")
        %tbody
          - @players.matches.each do |player|
            %tr
              %td= player.id
              %td= link_to_if can?(:show, player), player.name(:reversed), [:admin, player]
              %td= t("player.abbrev.#{player.gender}") if player.gender
              %td= player.dob.year if player.dob
              %td= player.fed if player.fed
              %td= player.titles
              %td= link_to player.club.name, player.club if player.club
          = render "utils/pagination_links", pager: @players, columns: 7
