.span2
.span8
  %h1{class: "text-center"} Players
  %table{class: "table table-bordered table-striped table-condensed"}
    %thead
      %tr
        %th #
        %th First name
        %th Last name
        %th{style: "width: 30px"} Actions
    %tbody
      - @players.each do |player|
        %tr
          %td= player.id
          %td= player.first_name
          %td= player.last_name
          %td
            = link_to player do
              %i.icon-hand-right
            = link_to edit_player_path(player) do
              %i.icon-edit
            = link_to player, :method => :delete, :data => { :confirm => 'Are you sure?' } do
              %i.icon-trash
  = link_to 'New Player', new_player_path, class: "btn btn-primary"
.span2

