%h1 Listing players

%table
  %thead
    %tr
      %td First name
      %td Last name
      %td
      %td
      %td
  %tbody
    - @players.each do |player|
      %tr
        %td= player.first_name
        %td= player.last_name
        %td= link_to 'Show', player
        %td= link_to 'Edit', edit_player_path(player)
        %td= link_to 'Destroy', player, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Player', new_player_path
