- content_for :title, t("upload.upload")

= render "utils/prev_next", prev_next: @prev_next

.row
  .col-sm-12
    %table.table.table-bordered
      %tr
        %th= t("file")
        %td= link_to @upload.data_file_name, @upload.url, target: "upload"
      %tr
        %th= t("description")
        %td= @upload.description
      %tr
        %th= t("year")
        %td= @upload.year
      %tr
        %th= t("access.access")
        %td= t("access.#{@upload.access}")
      %tr
        %th= t("user.role.editor")
        %td= @upload.user.player.name
      %tr
        %th= "Content type"
        %td= @upload.data_content_type
      %tr
        %th= "Size"
        %td= @upload.data_file_size
      - if @upload.www1_path.present?
        %tr
          %th= "Old www1 path"
          %td= @upload.www1_path
      - unless @upload.updated_at == @upload.data_updated_at
        %tr
          %th= "File last updated"
          %td= @upload.data_updated_at.to_s(:nosec)
      = render "utils/timestamps", object: @upload, ability: :create
    = render "utils/show_buttons", object: @upload

= render "admin/journal_entries/changes", entries: @entries
