- content_for :title, t("fee.type.#{@fee.subtype}")

= form_for @item do |form|
  = form.hidden_field :type
  = form.hidden_field :fee_id
  - if @fee.player_required
    = form.hidden_field :player_id
    - if @fee.new_player_allowed?
      = form.hidden_field :player_data

  .row
    .col-md-6.col-md-offset-3
      .panel.panel-info
        .panel-heading
          %h4.panel-title
            = @fee.description(:full)
            .pull-right= euros(@fee.amount)
        .panel-body
          = render "fees/#{@fee.subtype}", fee: @fee
          = render "notes", fee: @fee, notes: @item.notes
        .panel-footer
          - if @fee.player_required
            = render "player_ids_button"
            - if @fee.applies_to?(current_user)
              = render "select_user_button"
            - if @fee.new_player_allowed?
              = render "new_player_button"
          = link_to t("cancel"), shop_path, class: "btn btn-default btn-sm"
          = form.submit t("item.add"), class: "btn btn-info btn-sm pull-right", style: @fee.player_required ? "display: none" : nil

- if @fee.player_required
  = render "player_ids/modal", title: t("item.member.select")
  %script
    = render "player_ids_callback.js"
  - if @fee.new_player_allowed?
    = render "new_players/modal", title: t("item.member.new")
    %script
      = render "new_player_callback.js"
