- content_for :title, "Subscription Fee"

.row
  .col-md-8.col-md-offset-2

    %h1.text-center= t("fee.type.entry")

    %table.table.table-bordered
      %tr
        %th= t("fee.description")
        %td= @fee.description
      %tr
        %th= t("fee.amount")
        %td= euros(@fee.amount)
      %tr
        %th= t("fee.entry.event.start")
        %td= @fee.event_start.to_s
      %tr
        %th= t("fee.entry.event.end")
        %td= @fee.event_end.to_s
      %tr
        %th= t("fee.sale_start")
        %td= @fee.sale_start.to_s
      %tr
        %th= t("fee.sale_end")
        %td= @fee.sale_end.to_s
      %tr
        %th= t("fee.discounted_amount")
        %td= euros(@fee.discounted_amount) if @fee.discounted_amount.present?
      %tr
        %th= t("fee.discount_deadline")
        %td= @fee.discount_deadline.to_s if @fee.discount_deadline.present?
      %tr
        %th= t("fee.entry.min_rating")
        %td= @fee.min_rating
      %tr
        %th= t("fee.entry.max_rating")
        %td= @fee.max_rating
      %tr
        %th= t("fee.entry.event.contact")
        %td= "#{@fee.player.name} (#{@fee.player.email})" if @fee.player
      %tr
        %th= t("fee.entry.event.website")
        %td= link_to @fee.event_website, @fee.event_website, target: "_external" if @fee.event_website
      = render "utils/timestamps", object: @fee

    = link_to "Edit", edit_admin_entry_fee_path(@fee), class: "btn btn-primary"
    = link_to "Delete", admin_entry_fee_path(@fee), data: { confirm: "Sure you want to delete this fee?" }, method: :delete, class: "btn btn-danger"
    = link_to "Rollover", rollover_admin_entry_fee_path(@fee), class: "btn btn-info"
    = link_to "Clone", clone_admin_entry_fee_path(@fee), class: "btn btn-info"
    = link_to "Fees", admin_entry_fees_path, class: "btn btn-default"

= render "admin/journal_entries/changes", entries: @entries
