.row
  .col-sm-8.col-sm-offset-2
    = form_for [:admin, @user], html: { class: "form-horizontal", role: "form" } do |f|
      %fieldset
        = render "utils/form_header", object: @user, type: "user for #{@user.player.name(id: true)}"
        - locals = { form: f, object: @user, col: "sm", pad: 3, width: 4 }
        - if @user.new_record?
          = render "utils/text_field_for", locals.merge(param: :email, text: t("email"))
          = hidden_field :user, :player_id
        - else
          = render "utils/text_field_for", locals.merge(param: :status, text: t("user.status"))
        = render "utils/text_field_for", locals.merge(param: :password, text: t("user.password"))
        = render "utils/text_field_for", locals.merge(param: :expires_on, text: t("user.expires"), placeholder: t("date_format"))
        = render "utils/select_for", locals.merge(param: :roles, text: t("user.role.roles"), menu: user_roles_menu(@user.roles), multiple: true, width: 4, size: User::ROLES.size)
        - unless @user.new_record? || @user.verified?
          = render "utils/check_box_for", locals.merge(param: :verify, text: t("user.verify"), on: "yes", off: "no", width: 1)
      %hr
      .text-center
        = f.submit t("save"), class: "btn btn-primary"
        = link_to t("cancel"), [:admin, @user], class: "btn btn-default"
