= form_for @admin_user do |f|
  - if @admin_user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_user.errors.count, "error")} prohibited this admin_user from being saved:"
      %ul
        - @admin_user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.text_field :password
  .field
    = f.label :salt
    = f.text_field :salt
  .field
    = f.label :icu_id
    = f.number_field :icu_id
  .field
    = f.label :expiry
    = f.date_select :expiry
  .actions
    = f.submit 'Save'
