= form_tag admin_users_path, method: :get, class: "form-inline", role: "form" do
  = render "utils/inline_text_field", param: :email, text: "Email"
  = render "utils/inline_select", param: :expiry, text: "Expiry", menu: user_expiry_menu(params[:expiry])
  = render "utils/inline_select", param: :status, text: "Status", menu: user_status_menu(params[:status])
  = render "utils/inline_select", param: :verify, text: "Verified", menu: user_verify_menu(params[:verify])
  = render "utils/inline_select", param: :role, text: "Role", menu: user_roles_search_menu(params[:role])
  = button_tag "Search", type: "submit", class: "btn btn-default pull-right"
