- content_for :title, "Edit User"

.row
  .col-sm-8.col-sm-offset-2
    = form_for [:admin, @user], html: { class: "form-horizontal", role: "form" } do |f|
      %fieldset
        %legend= @user.email
        - locals = { form: f, object: @user, col: "sm", pad: 3, width: 4 }
        = render "utils/text_field_for", locals.merge(param: :status, text: "Status")
        = render "utils/text_field_for", locals.merge(param: :password, text: "Password")
        = render "utils/select_for", locals.merge(param: :roles, text: "Roles", menu: user_roles_menu(@user.roles), multiple: true, width: 4, size: User::ROLES.size)
        - unless @user.verified?
          = render "utils/check_box_for", locals.merge(param: :verify, text: "Verify", on: "yes", off: "no", width: 1)
        %hr
        = f.submit "Save", class: "btn btn-primary"
        = link_to "Cancel", [:admin, @user], class: "btn btn-default"
