.row
  .col-sm-8.col-sm-offset-2
    = form_for [:admin, @user], html: { class: "form-horizontal", role: "form" } do |f|
      %fieldset
        %legend= @user.email

        .form-group{class: @user.errors[:status].any? ? "has-error" : ""}
          = f.label :status, class: "control-label col-sm-3"
          .col-sm-4= f.text_field :status, class: "form-control"
          .col-sm-5.help-block= @user.errors.messages[:status].first

        .form-group{class: @user.errors[:password].any? ? "has-error" : ""}
          = f.label :password, class: "control-label col-sm-3"
          .col-sm-4= f.password_field :password, class: "form-control", value: ""
          .col-sm-5.help-block= @user.errors.messages[:password].first

        .form-group{class: @user.errors[:roles].any? ? "has-error" : ""}
          = f.label :roles, class: "control-label col-sm-3"
          .col-sm-4= f.select :roles, roles_pick_menu(@user.roles), {}, class: "form-control", multiple: true
          .col-sm-5.help-block= @user.errors.messages[:roles].first

        - unless @user.verified?
          .form-group
            = f.label :verify, class: "control-label col-sm-3"
            .col-sm-4= f.check_box :verify, { class: "form-control" }, "yes", "no"

        %hr
        = f.submit "Save", class: "btn btn-primary"
        = link_to "Cancel", [:admin, @user], class: "btn btn-default"
