.row
  .col-sm-10.col-sm-offset-1
    = render "utils/search_panel", form: "admin/users/search_form", title: "Users"
    - if @users.count > 0
      %table{class: "table table-bordered table-striped table-condensed", id: "results"}
        %thead
          %tr
            %th Email
            %th{class: "text-center"} E
            %th{class: "text-center"} S
            %th{class: "text-center"} V
            %th Roles
        %tbody
          - @users.matches.each do |user|
            %tr
              %td= link_to user.email, [:admin, user]
              %td{class: "text-center"}
                %date= user.expires_on.year
              %td{class: "text-center"}= user.status_ok? ? "✔" : "✘"
              %td{class: "text-center"}= user.verified? ? "✔" : "✘"
              %td= user.human_roles
          = render "utils/pagination_links", pager: @users, columns: 5
