- content_for :title, "User"

= render "utils/prev_next", prev_next: @prev_next

.row
  .col-md-8.col-md-offset-2
    %h1.text-center User
    %table.table.table-bordered
      %tr
        %th Email
        %td= @user.email
      %tr
        %th Player
        %td= link_to @user.name, [:admin, @player]
      %tr
        %th Expires On
        %td= @user.expires_on
      %tr
        %th Season Ticket
        %td= @user.season_ticket
      %tr
        %th Status
        %td= @user.status
      %tr
        %th Roles
        %td= @user.human_roles(locale: "en")
      %tr
        %th Verified
        %td
          - if @user.verified?
            %time{datetime: @user.verified_at.to_s(:html5)}= @user.verified_at.to_s(:nosec)
      = render "utils/timestamps", object: @user
    = render "utils/show_buttons", object: @user, admin: "search", extras: { "Login" => login_admin_user_path(@user) }

= render "admin/journal_entries/changes", entries: @entries
