- content_for :title, "User"

.row
  .col-md-8.col-md-offset-2
    %h1.text-center User
    %table.table.table-bordered
      %tr
        %th Email
        %td= @user.email
      %tr
        %th ICU #
        %td= @user.player_id
      %tr
        %th Expires On
        %td= @user.expires_on
      %tr
        %th Season Ticket
        %td= @user.season_ticket
      %tr
        %th Status
        %td= @user.status
      %tr
        %th Roles
        %td= @user.human_roles(locale: "en")
      %tr
        %th Verified
        %td
          - if @user.verified?
            %time{datetime: @user.verified_at.to_s(:html5)}= @user.verified_at.to_s(:nosec)
      %tr
        %th Created
        %td
          %time{datetime: @user.created_at.to_s(:html5)}= @user.created_at.to_s(:nosec)
      %tr
        %th Last Updated
        %td
          %time{datetime: @user.updated_at.to_s(:html5)}= @user.updated_at.to_s(:nosec)
    = link_to "Edit", edit_admin_user_path(@user), class: "btn btn-primary"
    = link_to "Delete", admin_user_path(@user), data: { confirm: "Sure you want to delete this user?" }, method: :delete, class: "btn btn-danger"
    - if path = last_search(:admin, :users)
      = link_to t("last_search"), path, class: "btn btn-default"
    - else
      = link_to "Users", admin_users_path, class: "btn btn-default"
    = link_to "Login", login_admin_user_path(@user), class: "btn btn-info"
= render "admin/journal_entries/changes", entries: @entries
