.col-md-8.col-md-offset-2
  %table.table.table-bordered
    %tr
      %th Email
      %td= @user.email
    %tr
      %th Expires On
      %td= @user.expires_on
    %tr
      %th ICU #
      %td= @user.icu_id
    %tr
      %th Status
      %td= @user.status
    %tr
      %th Verified
      %td
        %time{datetime: @user.verified_at.to_s(:html5)}= @user.verified_at.to_s(:nosec)
    %tr
      %th Created
      %td= @user.created_at.to_s(:db)
    %tr
      %th Last Updated
      %td= @user.updated_at.to_s(:db)
  = link_to "Edit", edit_player_path(@player), class: "btn btn-primary"
