.row
  .col-md-8.col-md-offset-2
    %table.table.table-bordered
      %tr
        %th Email
        %td= @user.email
      %tr
        %th Expires On
        %td= @user.expires_on
      %tr
        %th ICU #
        %td= @user.icu_id
      %tr
        %th Status
        %td= @user.status
      %tr
        %th Roles
        %td= @user.roles
      %tr
        %th Verified
        %td
          %time{datetime: @user.verified_at.to_s(:html5)}= @user.verified_at.to_s(:nosec)
      %tr
        %th Created
        %td
          %time{datetime: @user.created_at.to_s(:html5)}= @user.created_at.to_s(:nosec)
      %tr
        %th Last Updated
        %td
          %time{datetime: @user.updated_at.to_s(:html5)}= @user.updated_at.to_s(:nosec)
    = link_to "Edit", edit_admin_user_path(@user), class: "btn btn-primary"
    = link_to "Back", "#", "data-back" => "", class: "btn btn-default"
