- content_for :title, "Translations"

- title = "Translations"
- title += ' <span class="label label-success">%d</span>' % @creates if @creates > 0
- title += ' <span class="label label-primary">%d</span>' % @updates if @updates > 0
= render "utils/search_panel", form: "admin/translations/search_form", title: title.html_safe
.row
  .col-sm-12
    - if @translations.count > 0
      %table{class: "table table-bordered table-striped table-condensed", id: "results"}
        %thead
          %tr
            %th Key
            %th English
            %th Irish
            %th Action
        %tbody
          - @translations.matches.each do |t|
            %tr
              %td= link_to t.key, [:admin, t]
              %td= t.english.truncate(40)
              %td= t.value.try(:truncate, 40)
              %td= render "action", translation: t, size: "btn-xs"
          = render "utils/pagination_links", pager: @translations, columns: 4
