- content_for :title, "Translation"

= render "utils/prev_next", prev_next: @prev_next

.row
  .col-md-8.col-md-offset-2
    %h1.text-center Translation
    %table.table.table-bordered
      %tr
        %th Key
        %td= @translation.key
      - if @translation.updatable?
        %tr
          %th Previous English
          %td= @translation.old_english
        %tr
          %th Previous Irish
          %td= @translation.value
        %tr
          %th Current English
          %td= @translation.english
        %tr
          %th Current Irish
          %td= @translation.value
      - else
        %tr
          %th English
          %td= @translation.english
        %tr
          %th Irish
          %td= @translation.value
      = render "utils/timestamps", object: @translation, updated_by: @translation.user
    .text-center
      = render "action", translation: @translation
      - if path = last_search(:translations)
        = link_to t("last_search"), path, class: "btn btn-default"
      = link_to t("new_search"), admin_translations_path, class: "btn btn-default"
= render "admin/journal_entries/changes", entries: @entries
