- content_for :title, t("article.series.series")

= render "utils/search_panel", form: "search_form", title: t("article.series.series"), col: "sm", pad: 2

.row
  .col-sm-8.col-sm-offset-2
    - if @series.count > 0
      %table{class: "table table-bordered table-striped", id: "results"}
        %thead
          %tr
            %th= t("article.series.title")
            %th.text-center.col-sm-1= t("article.articles")
        %tbody
          - @series.matches.each do |series|
            %tr.result
              %td= link_to series.title, series
              %td.text-center= series.articles.count
          = render "utils/pagination_links", pager: @series, columns: 2
    = render "utils/index_buttons", klass: Series
