- content_for :title, @series.title

%h1.text-center= @series.title
%hr
.row
  .col-sm-10.col-sm-offset-1
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th.text-center.col-sm-1= "#"
          %th= t("article.title")
      %tbody
        - if @series.episodes.count > 0
          - @series.episodes.each do |episode|
            - article = episode.article
            %tr.episode
              %td.text-center= episode.number
              %td
                - if article.accessible_to?(current_user)
                  = link_to article.title, article
                - else
                  = t("article.inaccessible")
        - else
          %tr
            %td.text-center{colspan: 2}= t("article.series.empty")
    = render "utils/show_buttons", object: @series

= render "admin/journal_entries/changes", entries: @entries
