- content_for :title, "New Cash Payment"

.row
  .col-sm-8.col-sm-offset-2
    = form_for [:admin, @cash_payment], html: { class: "form-horizontal", role: "form" } do |f|
      %fieldset
        %legend= "Payment received"
        - locals = { form: f, object: @cash_payment, col: "sm", pad: 3, width: 4, mark: "required"}
        = render "utils/text_field_for", locals.merge(param: :amount, text: "Amount received", width: 2)
        = render "utils/text_field_for", locals.merge(param: :first_name, text: "Payer's first name")
        = render "utils/text_field_for", locals.merge(param: :last_name, text: "Payer's last name")
        = render "utils/select_for", locals.merge(param: :payment_method, text: "Payment method", width: 3, menu: cash_payment_method_menu(@cash_payment.payment_method))
        = render "utils/text_field_for", locals.merge(param: :email, text: "Payer's email", mark: "none")
        %hr
        = f.submit t("confirm"), class: "btn btn-primary"
        = link_to t("cancel"), cart_path, class: "btn btn-default"
