- content_for :title, t("image.images")
- add_help("images")

= render "utils/search_panel", form: "search_form", title: t("image.images"), col: "sm"

.row
  .col-sm-12
    - if @images.count > 0
      %table{class: "table table-bordered table-striped", id: "results"}
        %tbody
          - @images.matches.each do |image|
            %tr
              %td.vcenter.text-center.col-sm-1
                = link_to image do
                  = image_tag image.data.url(:thumbnail), width: image.width(:thumbnail), height: image.height(:thumbnail)
              %td.vcenter.col-sm-10= image.caption
              %td.vcenter.text-center.small.col-sm-1= image.year
          = render "utils/pagination_links", pager: @images, columns: 5
    = render "utils/index_buttons", klass: Image
