- content_for :title, t("image.image")

.text-center
  = image_tag @image.data.url

.row.voffset3
  .col-sm-12
    %table.table.table-bordered
      %tr
        %th= t("image.caption")
        %td= @image.caption
      %tr
        %th= t("image.year")
        %td= @image.year
      %tr
        %th= t("image.credit")
        %td= @image.credit
      %tr
        %th= t("image.dimensions")
        %td= @image.dimensions_description
      - if can?(:create, Image)
        %tr
          %th= t("image.file_name")
          %td= @image.data_file_name
        %tr
          %th= t("image.type")
          %td= @image.data_content_type
        %tr
          %th= t("image.size")
          %td= @image.data_file_size
        - unless @image.updated_at == @image.data_updated_at
          %tr
            %th= t("image.data_updated_at")
            %td= @image.data_updated_at.to_s(:nosec)
      = render "utils/timestamps", object: @image, ability: :manage
    - if can?(:update, @image)
      = link_to t("edit"), edit_admin_image_path(@image), class: "btn btn-primary"
    - if path = last_search(:images)
      = link_to t("last_search"), path, class: "btn btn-default"
    - else
      = link_to t("image.images"), images_path, class: "btn btn-default"

= render "admin/journal_entries/changes", entries: @entries
