- content_for :title, t("image.image")

= render "utils/prev_next", prev_next: @prev_next

.text-center.voffset3
  = image_tag @image.data.url

.row.voffset3
  .col-sm-12
    %table.table.table-bordered
      %tr
        %th= t("image.caption")
        %td= @image.caption
      %tr
        %th= t("year")
        %td= @image.year
      - if @image.credit.present?
        %tr
          %th= t("image.credit")
          %td= @image.credit
      %tr
        %th= t("image.dimensions")
        %td= @image.dimensions_description
      - if can?(:create, Image)
        %tr
          %th= "File name"
          %td= @image.data_file_name
        %tr
          %th= "Content type"
          %td= @image.data_content_type
        %tr
          %th= "Image size"
          %td= @image.data_file_size
        - unless @image.updated_at == @image.data_updated_at
          %tr
            %th= "Image last updated"
            %td= @image.data_updated_at.to_s(:nosec)
    = render "utils/editing_details", object: @image
    %hr
    = render "utils/show_buttons", object: @image

= render "admin/journal_entries/changes", entries: @entries
