- unless current_user.guest? || current_user.roles.nil?
  - links = 0
  - links += 1 if logins  = can?(:manage, Login)
  - links += 1 if bdlgns  = can?(:manage, BadLogin)
  - links += 1 if entries = can?(:index, JournalEntry)
  - links += 1 if users   = can?(:manage, User)
  - links += 1 if carts   = can?(:index, Cart)
  - links += 1 if rfnds   = can?(:index, Refund)
  - links += 1 if perrs   = can?(:index, PaymentError)
  - links += 1 if nfees   = can?(:manage, Fee)
  - links += 1 if items   = can?(:index, Item)
  - links += 1 if trans   = can?(:manage, Translation)
  - links += 1 if pages   = can?(:read, Page)
  - links += 1 if pgns    = can?(:index, Pgn)
  - links += 1 if usage   = Rails.env.production? && current_user.admin?
  - if links > 0
    %li.dropdown
      = link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown" } do
        Admin
        %b.caret
      %ul.dropdown-menu
        - if carts
          %li{class: active("admin/carts")}= link_to "Carts", admin_carts_path
        - if bdlgns
          %li{class: active("admin/bad_logins")}= link_to "Bad Logins", admin_bad_logins_path
        - if nfees
          %li{class: active("admin/fees")}= link_to "Fees", admin_fees_path
        - if pgns
          %li{class: active("admin/pgns")}= link_to "Game Uploads", admin_pgns_path
        - if items
          %li{class: active("admin/items")}= link_to "Items", admin_items_path
        - if entries
          %li{class: active("admin/journal_entries")}= link_to "Journal", admin_journal_entries_path
        - if logins
          %li{class: active("admin/logins")}= link_to "Logins", admin_logins_path
        - if perrs
          %li{class: active("admin/payment_errors")}= link_to "Payment Errors", admin_payment_errors_path
        - if rfnds
          %li{class: active("admin/refunds")}= link_to "Refunds", admin_refunds_path
        - if pages
          %li{class: active("admin/pages", "session_info")}= link_to "Session Info", admin_session_info_path
          %li{class: active("admin/pages", "system_info")}= link_to "System Info", admin_system_info_path
        - if pages
          %li{class: active("admin/pages", "test_email")}= link_to "Test Email", admin_test_email_path
        - if trans
          %li{class: active("admin/translations")}= link_to "Translations", admin_translations_path
        - if usage
          %li= link_to "Usage Stats", "/webalizer/", target: "_usage"
        - if users
          %li{class: active("admin/users")}= link_to "Users", admin_users_path
