- unless current_user.guest? || current_user.roles.nil?
  - items = 0
  - items += 1 if logins  = can?(:manage, Login)
  - items += 1 if bdlgns  = can?(:manage, BadLogin)
  - items += 1 if entries = can?(:index, JournalEntry)
  - items += 1 if users   = can?(:manage, User)
  - items += 1 if sfees   = can?(:manage, SubscriptionFee)
  - items += 1 if subs    = can?(:index,  Subscription)
  - items += 1 if efees   = can?(:manage, EntryFee)
  - items += 1 if trans   = can?(:manage, Translation)
  - items += 1 if players = can?(:manage, Player)
  - items += 1 if clubs   = can?(:manage, Club)
  - items += 1 if sysinfo = can?(:system_info, Page)
  - if items > 0
    %li.dropdown
      = link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown" } do
        Admin
        %b.caret
      %ul.dropdown-menu
        - if logins
          %li{class: active("admin/logins")}= link_to "Logins", admin_logins_path
        - if bdlgns
          %li{class: active("admin/bad_logins")}= link_to "Bad Logins", admin_bad_logins_path
        - if entries
          %li{class: active("admin/journal_entries")}= link_to "Journal", admin_journal_entries_path
        - if users
          %li{class: active("admin/users")}= link_to "Users", admin_users_path
        - if sfees
          %li{class: active("admin/subscription_fees")}= link_to "Subscription Fees", admin_subscription_fees_path
        - if subs
          %li{class: active("admin/subscriptions")}= link_to "Subscriptions", admin_subscriptions_path
        - if efees
          %li{class: active("admin/entry_fees")}= link_to "Entry Fees", admin_entry_fees_path
        - if trans
          %li{class: active("admin/translations")}= link_to "Translations", admin_translations_path
        - if players
          %li{class: active("admin/players")}= link_to "New Player", new_admin_player_path
        - if clubs
          %li{class: active("admin/clubs")}= link_to "New Club", new_admin_club_path
        - if sysinfo
          %li{class: active("pages", "system_info")}= link_to "System Info", system_info_path
