- unless current_user.guest? || current_user.roles.nil?
  - items = 0
  - items += 1 if logins  = can?(:manage, Login)
  - items += 1 if bdlgns  = can?(:manage, BadLogin)
  - items += 1 if entries = can?(:index, JournalEntry)
  - items += 1 if users   = can?(:manage, User)
  - items += 1 if carts   = can?(:index, Kart)
  - items += 1 if rfnds   = can?(:index, Refund)
  - items += 1 if perrs   = can?(:index, PaymentError)
  - items += 1 if nfees   = can?(:manage, Fee)
  - items += 1 if trans   = can?(:manage, Translation)
  - items += 1 if players = can?(:manage, Player)
  - items += 1 if clubs   = can?(:manage, Club)
  - items += 1 if pages   = can?(:read, Page)
  - if items > 0
    %li.dropdown
      = link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown" } do
        Admin
        %b.caret
      %ul.dropdown-menu
        - if logins
          %li{class: active("admin/logins")}= link_to "Logins", admin_logins_path
        - if bdlgns
          %li{class: active("admin/bad_logins")}= link_to "Bad Logins", admin_bad_logins_path
        - if entries
          %li{class: active("admin/journal_entries")}= link_to "Journal", admin_journal_entries_path
        - if users
          %li{class: active("admin/users")}= link_to "Users", admin_users_path
        - if carts
          %li{class: active("admin/carts")}= link_to "Carts", admin_karts_path
        - if rfnds
          %li{class: active("admin/refunds")}= link_to "Refunds", admin_refunds_path
        - if perrs
          %li{class: active("admin/payment_errors")}= link_to "Payment Errors", admin_payment_errors_path
        - if nfees
          %li{class: active("admin/fees")}= link_to "Fees", admin_fees_path
        - if trans
          %li{class: active("admin/translations")}= link_to "Translations", admin_translations_path
        - if players
          %li{class: active("admin/players")}= link_to "New Player", new_admin_player_path
        - if clubs
          %li{class: active("admin/clubs")}= link_to "New Club", new_admin_club_path
        - if pages
          %li{class: active("admin/pages", "system_info")}= link_to "System Info", admin_system_info_path
          %li{class: active("admin/pages", "test_email")}= link_to "Test Email", admin_test_email_path
