- unless current_user.guest? || current_user.roles.nil?
  - items = 0
  - items += 1 if users  = can?(:manage, User)
  - items += 1 if logins = can?(:manage, Login)
  - items += 1 if trans  = can?(:manage, Translation)
  - items += 1 if clubs  = can?(:manage, Club)
  - if items > 0
    %li.dropdown
      = link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown" } do
        Admin
        %b.caret
      %ul.dropdown-menu
        - if logins
          %li{class: active("admin/logins")}= link_to "Logins", admin_logins_path
        - if users
          %li{class: active("admin/users")}= link_to "Users", admin_users_path
        - if trans
          %li{class: active("admin/translations")}= link_to "Translations", admin_translations_path
        - if clubs
          %li{class: active("admin/clubs")}= link_to "New Club", new_admin_club_path
