.row
  .col-lg-2.text-center
    = image_tag "misc/logo.png", alt: t("icu.logo"), title: t("icu.logo"), size: "140x140", class: "visible-lg"
  .col-lg-8.text-center
    %h1= t("icu.ticu")
.row
  .col-lg-12.text-center
    %h5
      = succeed(":") do
        = t("patron")
      = succeed(",") do
        = "Michael D. Higgins"
      = t("president_irl")
