.row
  .col-md-2.text-center
    = image_tag "misc/logo.png", alt: t("icu.logo"), title: t("icu.logo"), size: "140x140", class: "hidden-xs hidden-sm"
  .col-md-8.text-center
    %h1= t("icu.icu")
.row
  .col-md-12.text-center
    %h5
      = succeed(":") do
        = t("patron")
      = succeed(",") do
        = "Michael D. Higgins"
      = t("president_irl")
