%nav{class: "navbar navbar-default", role: "navigation"}
  .navbar-header
    %button{class: "navbar-toggle", type: "button", "data-toggle" => "collapse", "data-target" => ".navbar-ex1-collapse"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav
      %li{class: active("pages", "home")}= link_to t("home"), home_path
      %li{class: active("clubs")}= link_to t("club.clubs"), clubs_path
      %li{class: active("players")}= link_to t("player.players"), players_path
    %ul.nav.navbar-nav.navbar-right
      = render "layouts/locale_switch"
      = render "layouts/admin_menu"
      = render "layouts/sign_in_out"
