- if current_user.guest?
  - unless active?("sessions", "new") || active?("users", "new")
    %li= link_to t("session.sign_in"), switch_to_tls(:sign_in)
    %li= link_to t("user.sign_up"), switch_to_tls(:sign_up)
- else
  %li.dropdown
    = link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown" } do
      = current_user.name
      %b.caret
    %ul.dropdown-menu
      %li= link_to t("session.sign_out"), sign_out_path
      %li{class: active("users", "account")}= link_to t("user.account"), account_path(current_user)
      %li{class: active("users", "preferences")}= link_to t("user.preferences"), preferences_path(current_user)
