!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : "Irish Chess Union"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      #header.row
        = render "layouts/header"
      #nav.navbar
        = render "layouts/nav"
      #flash.row
        = render "layouts/flash"
      #content.row
        = yield
