!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : t("icu")
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag "#{current_user.preferred_theme.downcase}.min", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if current_user.admin? && Rails.root.join("public", "system", "maintenance.html").exist?
      #maintenance Maintenance Mode
    .jumbotron
      .container
        = render "layouts/header"
    .container
      = render "layouts/nav"
      = render "layouts/flash"
      = yield
    .container
      = render "layouts/footer"
