!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : t("icu")
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag "#{current_user.preferred_theme.downcase}.min", media: "all"
    = javascript_include_tag "application"
    - if content_for?(:includes)
      = yield :includes
    - if content_for?(:javascript)
      = javascript_tag do
        = yield :javascript
    = csrf_meta_tags
  %body
    = image_tag "misc/beta-badge.png", alt: t("beta"), title: t("beta"), size: "150x150", id: "beta-badge"
    - if Rails.root.join("public", "system", "maintenance.html").exist?
      #maintenance Maintenance Mode
    .jumbotron
      .container
        = render "layouts/header"
    .container
      = render "layouts/nav"
      = render "layouts/spinner"
      = render "layouts/flash"
      = yield
    .container
      = render "layouts/footer"
